.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; /* This ensures that the image maintains aspect ratio while fitting in the container */
}
