<div class="container">
  <h2 class="text-center mb-4">Reject Leave</h2>

  <div *ngIf="timesheetDetails">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Leave Details</h5>
        <p>
          <strong>Employee Name:</strong> {{ timesheetDetails?.employee?.name }}</p>
        <!-- <p><strong>Leave Type:</strong> {{ timesheetDetails.typeLabel }}</p> -->
        <p><strong>Date:</strong> {{ timesheetDetails.date | date }}</p>
        <!-- <p><strong>End Date:</strong> {{ timesheetDetails.endDate | date }}</p> -->
        <p><strong>Total Hours Invested:</strong> {{ timesheetDetails?.totalHours }} days</p>
      </div>
    </div>

    <form [formGroup]="rejectForm" (ngSubmit)="updateStatus(id)" class="mt-4">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment<span
          class="asterisk">*</span></label>
        <textarea
          id="comment"
          class="form-control"
          rows="3"
          formControlName="comment"
          placeholder="Add a comment..."
        ></textarea>
        <div
          *ngIf="
            rejectForm.get('comment').invalid &&
            rejectForm.get('comment').touched
          "
          class="text-danger"
        >
          Comment is required.
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="rejectForm.invalid"
      >
        Reject Leave
      </button>
      <button
        type="button"
        class="btn btn-danger ms-2"
        (click)="router.navigate(['/attendance/timesheet-list'])"
      >
        Cancel
      </button>
    </form>
  </div>

  <!-- Loader or error message if leave details are not available -->
  <div *ngIf="!timesheetDetails" class="alert alert-warning mt-4">
    <strong>Warning!</strong> Leave details not found.
  </div>
</div>
