<div>
  <form [formGroup]="bankDetailsForm">
    <div class="row">
      <div class="col-md-12 mb-3">
        <label class="col-form-label">Account Holder Name*</label>
        <input type="text" name="accountHolderName" placeholder="Eg. John William Anderson" formControlName="accountHolderName" class="form-control"
        [ngClass]="{
          'is-invalid': (form.accountHolderName.dirty || form.accountHolderName.touched) && form.accountHolderName.errors
        }" />
        <div *ngIf="(form.accountHolderName.dirty || form.accountHolderName.touched) && form.accountHolderName.errors" class="invalid-feedback">
          <span class="error-message" *ngIf="form.accountHolderName.errors?.required">Account Holder Name is required</span>
          <span class="error-message" *ngIf="form.accountHolderName.errors?.minlength">Account Holder Name must be at least 3 characters long</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label class="form-label">Bank Name*</label>
          <ng-select
            name="bankName"
            formControlName="bankName"
            [items]="bankName"
            bindLabel="name"
            placeholder="Select Bank"
            [ngClass]="{'is-invalid': form.bankName.dirty || form.bankName.touched && form.bankName.errors}">
          </ng-select>
          <div *ngIf="(form.bankName.dirty || form.bankName.touched) && form.bankName.errors" class="invalid-feedback">
            <span class="error-message" *ngIf="form.bankName.errors?.required">Bank Name is required</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label class="col-form-label">IFSC Code*</label>
        <input type="text" name="ifscCode" placeholder="Eg. BOI044FG" formControlName="ifscCode" class="form-control"
          [ngClass]="{
            'is-invalid': (form.ifscCode.dirty || form.ifscCode.touched) && form.ifscCode.errors
          }" />
        <div *ngIf="(form.ifscCode.dirty || form.ifscCode.touched) && form.ifscCode.errors" class="invalid-feedback">
          <span class="error-message" *ngIf="form.ifscCode.errors?.required">IFSC Code is required</span>
          <span class="error-message" *ngIf="form.ifscCode.errors?.pattern">Invalid IFSC Code format</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="col-form-label">Account Number*</label>
        <input type="text" name="accountNumber" placeholder="Eg. 88562200078500" formControlName="accountNumber"
          class="form-control"
          [ngClass]="{
            'is-invalid': (form.accountNumber.dirty || form.accountNumber.touched) && form.accountNumber.errors
          }" />
        <div *ngIf="(form.accountNumber.dirty || form.accountNumber.touched) && form.accountNumber.errors" class="invalid-feedback">
          <span class="error-message" *ngIf="form.accountNumber.errors?.required">Account Number is required</span>
          <span class="error-message" *ngIf="form.accountNumber.errors?.pattern">Invalid Account Number format</span>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label class="col-form-label">Re-enter Account Number*</label>
        <input type="text" name="reAccountNumber" placeholder="Eg. 88562200078500" formControlName="reAccountNumber"
          class="form-control"
          [ngClass]="{
            'is-invalid': (form.reAccountNumber.dirty || form.reAccountNumber.touched) && form.reAccountNumber.errors
          }" />
        <div *ngIf="(form.reAccountNumber.dirty || form.reAccountNumber.touched) && form.reAccountNumber.errors" class="invalid-feedback">
          <span class="error-message" *ngIf="form.reAccountNumber.errors?.required">Re-enter Account Number is required</span>
          <span class="error-message" *ngIf="bankDetailsForm.errors?.accountMismatch">Account numbers do not match</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="d-block mb-3">Account Type*</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="accountType" id="inlineRadio1" formControlName="accountType" value="Current">
          <label class="form-check-label" for="inlineRadio1">Current</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="accountType" id="inlineRadio2" formControlName="accountType" value="Saving">
          <label class="form-check-label" for="inlineRadio2">Saving</label>
        </div>
        <div *ngIf="(form.accountType.dirty || form.accountType.touched) && form.accountType.errors" class="invalid-feedback">
          <span class="error-message" *ngIf="form.accountType.errors?.required">Please select an account type</span>
        </div>
      </div>
    </div>

    <ul class="list-inline wizard d-flex justify-content-end mb-0">
      <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
      <li class="next list-inline-item" aria-disabled="false">
        <button class="btn btn-primary" cdkStepperNext type="submit"  [disabled]="!bankDetailsForm.valid" (click)="onSubmit()">Submit</button>
      </li>
    </ul>
  </form>
</div>
