<div class="container-fluid">
  <app-page-title
    title="Notice Details"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body border-bottom pb-2">
          <div class="position-relative mb-3" *ngIf="noticeDetailsData?.image" >
            <img
              *ngIf="!isPdfFile(noticeDetailsData?.image)"
              alt="feed image"
              class="img-fluid rounded"
              [src]="noticeDetailsData?.image"
            />
          </div>
          <!-- If the file is a PDF -->
          <div *ngIf="isPdfFile(noticeDetailsData?.image)">
            <!-- PDF Icon Button -->
            <button
              class="btn btn-outline-secondary"
              (click)="downloadFile(noticeDetailsData?.image)"
              style="
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <i
                class="bx bxs-file-pdf"
                style="font-size: 24px; margin-right: 8px; color: #d9534f"
              ></i>
              Download PDF
            </button>
          </div>
          <div class="flex-grow-1 justify-content-end mb-2">
            <small class="text-muted">
              Posted on
              {{
                (noticeDetailsData?.noticeDate | date : "dd MMM, yyyy") || "--"
              }}</small
            >
          </div>
          <h5 class="mb-2 text-primary">
            {{ noticeDetailsData?.noticeTitle }}
          </h5>
          <p
            class="mb-0 text-muted"
            [innerHTML]="noticeDetailsData?.description || '--'"
          ></p>
        </div>
      </div>
    </div>
    <div class="col-4 right">
      <div class="card ms-2 flex-grow-1">
        <div class="card-body border-bottom">
          <div class="d-flex justify-content-end">
            <ul
              *ngIf="loggedInUser?.user?.roles == 'admin'"
              class="list-unstyled hstack gap-2"
            >
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                <a
                  href="javascript:void(0);"
                  (click)="navigateToEdit(id)"
                  class="btn btn-sm btn-dark d-flex align-items-center p-2"
                >
                  <i class="fa-solid fa-gear"></i>
                </a>
              </li>
              <li
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Delete"
              >
                <a
                  href="javascript:void(0);"
                  (click)="deleteNotice(id)"
                  class="btn btn-sm btn-danger d-flex align-items-center p-2"
                >
                  <i class="fa-solid fa-trash"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-calendar-days text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Date</p>
              <h5 class="font-size-14 mb-0">
                {{ noticeDetailsData?.noticeDate | date : "dd MMM, yyyy" }}
              </h5>
            </div>
          </div>
          <div class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-user text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Posted By</p>
              <h5 class="font-size-14 mb-0">
                {{ noticeDetailsData?.employee?.name || "Unknown" }}
              </h5>
            </div>
          </div>
          <div
            *ngIf="noticeDetailsData?.workLocation"
            class="d-flex mb-3 align-items-start"
          >
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-map-pin text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Work Location</p>
              <h5 class="font-size-14 mb-0">
                <div>{{ noticeDetailsData?.workLocation?.name || '--' }}</div>
                <!----><!---->
              </h5>
            </div>
          </div>
          <div
            *ngIf="noticeDetailsData?.department"
            class="d-flex mb-3 align-items-start"
          >
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-folder-tree text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Department</p>
              <h5 class="font-size-14 mb-0">
                <div>{{ noticeDetailsData?.department?.name || '--'  }}</div>
                <!----><!---->
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
