<div class="container-fluid">
  <app-page-title
    title="Add Event"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body border-bottom">
                <div>
                  <h6 class="card-title">General Details</h6>
                  <p class="card-title-desc mb-0">
                    Here are examples of .form-control applied to each textual
                    HTML5.
                  </p>
                </div>
              </div>
              <div class="card-body">
                <!-- Event Type -->
                <div class="row mb-4">
                  <div class="col-12 mb-3">
                    <label class="form-label">
                      Event Type<span class="asterisk">*</span>
                    </label>
                    <ng-select
                      [items]="eventType"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Select Event Type"
                      formControlName="eventType"
                      [searchable]="false"
                      [clearable]="false"
                    ></ng-select>
                    <div
                      *ngIf="
                        eventForm.get('eventType').touched &&
                        eventForm.get('eventType').hasError('required')
                      "
                      class="error"
                    >
                      Event Type is required.
                    </div>
                  </div>
                  <!-- Event Title -->
                  <div class="col-12 mb-3">
                    <label class="form-label">
                      Event Title<span class="asterisk">*</span>
                    </label>
                    <input
                      type="text"
                      placeholder="Eg. Event Title"
                      formControlName="eventTitle"
                      class="form-control"
                      minlength="5"
                      maxlength="250"
                    />
                    <div
                      *ngIf="eventForm.get('eventTitle').hasError('minlength')"
                      class="error"
                    >
                      Please enter a valid title (greater than or equal to 5
                      Characters).
                    </div>
                    <div
                      *ngIf="eventForm.get('eventTitle').hasError('maxlength')"
                      class="error"
                    >
                      Please enter a valid title (less than or equal to 100).
                    </div>
                    <div
                      *ngIf="
                        eventForm.get('eventTitle').touched &&
                        eventForm.get('eventTitle').hasError('required')
                      "
                      class="error"
                    >
                      Event Title is required.
                    </div>
                  </div>
                  <!-- Description -->
                  <div class="col-lg-12 mb-3">
                    <label class="form-label">
                      Description<span class="asterisk">*</span>
                    </label>

                    <!-- CKEditor for description without custom toolbar config -->
                    <ckeditor
                      formControlName="description"
                      [editor]="Editor"
                      placeholder="Eg. Enter event description"
                      (blur)="validateDescription()"
                    >
                    </ckeditor>
                    <div *ngIf="eventForm.get('description').touched">
                      <div *ngIf="eventForm.get('description').hasError('required')" class="error">
                        Description is required.
                      </div>
                      <div *ngIf="descriptionTooShort" class="error">
                        Description must be at least 10 characters long.
                      </div>
                      <div *ngIf="descriptionTooLong" class="error">
                        Description cannot exceed 1000 characters.
                      </div>
                    </div>
                  </div>
                  <!-- Date & Time -->
                  <div class="col-6 mb-3">
                    <label class="form-label">
                      Start Date<span class="asterisk">*</span>
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="startDate"
                      placeholder="Start Date"
                      [min]="today"
                    />
                    <div
                      *ngIf="
                        eventForm.get('startDate').touched &&
                        eventForm.get('startDate').hasError('required')
                      "
                      class="error"
                    >
                      Start Date is required.
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label class="form-label">
                      End Date<span class="asterisk">*</span>
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="endDate"
                      [min]="eventForm.get('startDate')?.value"

                    />
                    <div *ngIf="eventForm.get('endDate').touched && eventForm.get('endDate').errors">
                      <div *ngIf="eventForm.get('endDate').hasError('required')" class="error">
                        End Date is required.
                      </div>
                      <div *ngIf="eventForm.get('endDate').hasError('startDateRequired')" class="error">
                        Please select a Start Date first.
                      </div>
                      <div *ngIf="eventForm.get('endDate').hasError('invalidDate')" class="error">
                        End Date cannot be before Start Date.
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label class="form-label">
                      Start Time<span class="asterisk">*</span>
                    </label>
                    <input
                      type="time"
                      class="form-control"
                      formControlName="startTime"
                    />
                    <div
                      *ngIf="
                        eventForm.get('startTime').touched &&
                        eventForm.get('startTime').hasError('required')
                      "
                      class="error"
                    >
                      Start Time is required.
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label class="form-label">
                      End Time<span class="asterisk">*</span>
                    </label>
                    <input
                      type="time"
                      class="form-control"
                      formControlName="endTime"
                    />
                    <div
                      *ngIf="
                        eventForm.get('endTime').touched &&
                        eventForm.get('endTime').errors
                      "
                    >
                      <div
                        *ngIf="eventForm.get('endTime').hasError('required')"
                        class="error"
                      >
                        End Time is required.
                      </div>
                      <div
                        *ngIf="eventForm.get('endTime').hasError('invalidTime')"
                        class="error"
                      >
                        End Time cannot be before Start Time.
                      </div>
                    </div>
                  </div>
                  <div class="form-group" class="mb-3">
                    <label for="location"
                      >Location<span class="asterisk">*</span></label
                    >
                    <select
                      id="location"
                      class="form-control"
                      formControlName="location"
                      (change)="onLocationChange($event)"
                      placeholder="Please select Location"
                    >
                      <option value="" selected>Select Location</option>
                      <option value="online" [selected]="isOnline">
                        Online
                      </option>
                      <option value="offline" [selected]="isOffline">
                        Offline
                      </option>
                    </select>
                  </div>
                  <!-- Online-specific input: Meeting Link -->
                  <div *ngIf="isOnline" class="mb-3">
                    <label class="form-label"
                      >Meeting Link<span class="asterisk">*</span></label
                    >
                    <input
                      type="url"
                      placeholder="Eg. Enter Meeting Link"
                      class="form-control"
                      formControlName="meetingLink"
                    />
                    <div *ngIf="eventForm.get('meetingLink').touched">
                      <div
                        *ngIf="
                          eventForm.get('meetingLink').hasError('required')
                        "
                        class="error"
                      >
                        Meeting Link is required for online events.
                      </div>
                      <div
                        *ngIf="eventForm.get('meetingLink').hasError('pattern')"
                        class="error"
                      >
                        Please enter a valid meeting link(e.g.,
                        https://example.com).
                      </div>
                    </div>
                  </div>
                  <!-- Offline-specific input: Address -->
                  <div *ngIf="isOffline" class="mb-3">
                    <label class="form-label"
                      >Address<span class="asterisk">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Eg. Enter Address"
                      class="form-control"
                      formControlName="address"
                    />
                    <div
                      *ngIf="
                        eventForm.get('address').touched &&
                        eventForm.get('address').hasError('required')
                      "
                      class="error"
                    >
                      Address is required for offline events.
                    </div>
                  </div>
                  <!-- Attachment -->
                  <div class="col-lg-12">
                    <label for="documentUpload" class="form-label d-block">
                      Upload Image
                    </label>
                    <input
                      type="file"
                      id="documentUpload"
                      (change)="uploadLogo($event)"
                      accept="image/*"
                      class="form-control-file mt-2"
                    />
                    <div *ngIf="fileError" class="error mt-2">
                      {{ fileError }}
                    </div>
                    <div *ngIf="image && !fileError" class="mt-2">
                      <img
                        [src]="image"
                        alt="Events Image Preview"
                        class="event-image-preview"
                      />
                    </div>
                    <!-- <div *ngIf="image" class="image-preview mt-3"></div> -->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex flex-wrap gap-2 justify-content-end">
                  <button
                    type="button"
                    (click)="postCancel()"
                    class="btn btn-light"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    [disabled]="
                      eventForm.invalid || fileExtensionError || fileError
                    "
                    class="btn btn-primary ml-2"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
