<div class="container-fluid">
    <div class="row">
        <div class="card mt-4">
            <div class="card-header">
                <h4>News Feed List</h4>
            </div>
            <div class="card-body">
                <div class="pt-3">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div>
                                <div class="text-center">
                                    <div class="mb-4">
                                        <div *ngFor="let item of filteredNewsFeedData">
                                            <h5><a href="javascript: void(0);" class="text-dark" class="text-primary"
                                                    (click)="goToDetail(item?.id)">{{ item?.title }}</a></h5>
                                            <p class="text-muted">{{
                                                getType(item?.type)
                                                }}</p>

                                            <p class="text-muted">{{ item?.date | date:'dd MMM, yyyy' }}</p>

                                            <div class="position-relative mb-3">
                                                <img [src]="item?.image" alt="" class="img-thumbnail">
                                            </div>

                                            <ul class="list-inline">
                                                <li class="list-inline-item me-3">
                                                    <a href="javascript: void(0);" class="text-muted">
                                                        <i class="bx bx-comment-dots align-middle text-muted me-1"></i>
                                                        12 Comments
                                                    </a>
                                                </li>
                                            </ul>
                                            <p>{{ item?.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
