.no-data{
    margin: 16px 0px
  }
  .list{
    text-align: center;
  }
  .setimg{
    height: 200px;
    width: auto;
  }
  .card-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 232px;
  }
  
  .user-category {
    margin-top: -45px;
    z-index: 1;
    position: relative;
  }
  
  .featured-card {
    height: 400px;
    &:before {
      content: "";
      position: absolute;
      background: rgba(33, 33, 33, 0.6);
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .featured-overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transaparent;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
    