<div class="container-fluid">
  <app-page-title
    title="Event Details"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body border-bottom pb-2">
          <h5 class="mb-2 text-primary">{{eventDetailsData?.eventType }}</h5>
          <div class="position-relative mb-3" *ngIf="eventDetailsData?.image" >
            <img
              alt="feed image"
              class="img-fluid rounded"
              [src]="eventDetailsData?.image"
            />
          </div>
          <div class="flex-grow-1 justify-content-end mb-2">
            <small class="text-muted">
              Posted on
              {{
                (eventDetailsData?.startDate | date : "dd MMM, yyyy") || "--"
              }}</small
            >
          </div>
          <h5 class="mb-2 text-primary">{{ eventDetailsData?.eventTitle }}</h5>
          <p
            class="mb-0 text-muted"
            [innerHTML]="eventDetailsData?.description || '--'"
          ></p>
        </div>
        <div class="card-body pt-3">
          <div class="d-flex align-items-center justify-content-end gap-3">
            <button
              class="btn btn-light btn-sm"
              (click)="likeEvent(eventDetailsData?.id, eventDetailsData)"
              [disabled]="!loggedInUser?.user?.id"
            >
              <i class="fa-duotone fa-thumbs-up align-middle me-1"
              [ngClass]="{
                'text-primary': eventDetailsData?.likes?.includes(
                  loggedInUser?.user?.id
                ),
                'text-muted': !eventDetailsData?.likes?.includes(
                  loggedInUser?.user?.id
                )
              }"></i>
            </button>
            <span class="text-muted">
              {{ eventDetailsData?.likes?.length || 0 }}
              {{ eventDetailsData?.likes?.length === 1 ? "Like" : "Likes" }}
            </span>

            <a href="javascript:void(0);" class="text-muted" (click)="shareEvent()">
              <i class="fa-duotone fa-share align-middle me-1"></i> Share
            </a>
          </div>

          <!-- Comment Form Section -->
          <div class="comment-form">
            <h6>
              {{ isEditingComment ? "Edit Comment" : "Post a Comment" }}
            </h6>
            <form [formGroup]="commentForm">
              <div class="mb-3">
                <textarea
                  rows="3"
                  formControlName="commentText"
                  placeholder="Add a comment..."
                  class="form-control"
                ></textarea>
              </div>
              <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-light" (click)="cancel()">
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  [disabled]="commentForm.invalid"
                  (click)="postComment()"
                >
                  {{ isEditingComment ? "Save" : "Post Comment" }}
                </button>
              </div>
            </form>
          </div>

          <!-- Comments Section -->
          <div>
            <div>
              <div
                class="d-flex p-3 border rounded mt-3"
                *ngFor="
                  let comment of eventDetailsData?.comments;
                  let i = index
                "
              >
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm bg-light rounded-circle">
                    <div
                      class="rounded-circle img-fluid d-block chart-letter"
                      *ngIf="!comment?.userImage"
                    >
                      {{ comment?.userFirstName?.charAt(0) }}
                    </div>
                    <img
                    *ngIf="comment?.userImage"
                      [src]="comment?.userImage"
                      alt=""
                      class="img-fluid d-block rounded-circle"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="font-size-12 mb-1 text-primary">
                    {{ comment?.userFirstName }}
                    {{ comment?.userLastName }}
                  </h6>
                  <h5 class="mb-2 font-size-14">{{ comment?.commentText }}</h5>
                  <p class="text-muted mb-0">
                    <small>
                      {{ comment?.commentDate | date : "long" }}
                    </small>
                  </p>
                </div>
                <div
                  *ngIf="
                    loggedInUser?.user?.id === comment.commentId ||
                    loggedInUser?.user?.roles?.includes('admin')
                  "
                >
                  <div class="comment-actions">
                    <a
                      *ngIf="loggedInUser?.user?.id === comment.commentId"
                      href="javascript: void(0);"
                      (click)="editComment(i)"
                      class="edit-btn text-primary font-size-12"
                    >
                      <i class="fa-duotone fa-pencil"></i>
                    </a>
                    <a
                      href="javascript: void(0);"
                      (click)="deleteComment(i)"
                      class="delete-btn text-danger font-size-12 ms-3"
                    >
                      <i class="fa-duotone fa-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 right">
      <div class="card ms-2 flex-grow-1">
        <div class="card-body border-bottom">
          <div class="d-flex justify-content-end">
            <ul *ngIf="loggedInUser?.user?.roles == 'admin'" class="list-unstyled hstack gap-2">
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                <a href="javascript:void(0);" (click)="navigateToEdit(id)"
                   class="btn btn-sm btn-dark d-flex align-items-center p-2">
                  <i class="fa-solid fa-gear"></i>
                </a>
              </li>
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                <a href="javascript:void(0);" (click)="deleteEvent(id)"
                   class="btn btn-sm btn-danger d-flex align-items-center p-2">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-calendar-days text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Date</p>
              <h5 class="font-size-14 mb-0">
                {{ eventDetailsData?.startDate | date : "dd MMM, yyyy" }}
                <span>-{{ eventDetailsData?.endDate | date : "dd MMM, yyyy" }}</span
                ><!---->
              </h5>
            </div>
          </div>
          <div class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-clock text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Time</p>
              <h5 class="font-size-14 mb-0">
                {{eventDetailsData?.startTime}}
                <span
                  >- {{eventDetailsData?.endTime}}</span
                ><!---->
              </h5>
            </div>
          </div>
          <div *ngIf="eventDetailsData?.address" class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-map-pin text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Location</p>
              <h5 class="font-size-14 mb-0">
                <div> {{eventDetailsData?.address}} </div>
                <!----><!---->
              </h5>
            </div>
          </div>
          <div  *ngIf="eventDetailsData?.meetingLink" class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-video text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Meet Link</p>
              <h5 class="font-size-14 mb-0">
                <div> {{eventDetailsData?.meetingLink}} </div>
                <!----><!---->
              </h5>
            </div>
          </div>
          <div class="d-flex mb-3 align-items-start">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-light"
                  ><i
                    class="fa-duotone fa-regular fa-clipboard-list-check text-dark"
                    aria-hidden="true"
                  ></i
                ></span>
              </div>
            </div>
            <div class="flex-grow-1">
              <p class="text-muted mb-1 font-size-12">Response</p>
              <h5 class="font-size-14 mb-0">
                <div class="progress bg-light">
                  <div
                    role="progressbar"
                    [attr.aria-valuenow]="calculatePercentages()?.yesPercentage"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [attr.title]="'Yes: ' + calculatePercentages()?.yesPercentage + '%'"
                    class="progress-bar bg-success"
                    [style.width]="calculatePercentages()?.yesPercentage + '%'"
                    >
                  </div>
                  <div
                    role="progressbar"
                    [attr.aria-valuenow]="calculatePercentages()?.maybePercentage"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [attr.title]="'Maybe: ' + calculatePercentages()?.maybePercentage + '%'"
                    class="progress-bar bg-warning"
                    [style.width]="calculatePercentages()?.maybePercentage + '%'">
                  </div>
                  <div
                    role="progressbar"
                    [attr.aria-valuenow]="calculatePercentages()?.noPercentage"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [attr.title]="'No: ' + calculatePercentages()?.noPercentage + '%'"
                    class="progress-bar bg-danger"
                    [style.width]="calculatePercentages()?.noPercentage + '%'">
                  </div>
                  <div
                    role="progressbar"
                    [attr.aria-valuenow]="calculatePercentages()?.unansweredPercentage"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [attr.title]="'Unanswered: ' + calculatePercentages()?.unansweredPercentage + '%'"
                    class="progress-bar bg-secondary"
                    [style.width]="calculatePercentages()?.unansweredPercentage > 0 ? calculatePercentages()?.unansweredPercentage + '%' : '2%'"
                    [style.opacity]="calculatePercentages()?.unansweredPercentage > 0 ? '1' : '0.5'">

                  </div>
                </div>
              </h5>
              <div class="table-responsive mt-3 col-8">
                <table class="table align-middle mb-0">
                  <tbody>
                    <tr>
                      <td class="ps-0">
                        <h5 class="font-size-13 mb-1">Yes</h5>
                        <p class="text-muted mb-0 font-size-12">{{ eventDetailsData?.yesCount || 0 }}</p>
                      </td>
                      <td>
                        <h5 class="mb-0 text-end text-success">{{ calculatePercentages()?.yesPercentage }} %</h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-0">
                        <h5 class="font-size-13 mb-1">Maybe</h5>
                        <p class="text-muted mb-0 font-size-12">{{ eventDetailsData?.maybeCount || 0 }}</p>
                      </td>
                      <td>
                        <h5 class="mb-0 text-end text-warning">{{ calculatePercentages()?.maybePercentage }} %</h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-0">
                        <h5 class="font-size-13 mb-1">No</h5>
                        <p class="text-muted mb-0 font-size-12">{{ eventDetailsData?.noCount || 0 }}</p>
                      </td>
                      <td>
                        <h5 class="mb-0 text-end text-danger">{{ calculatePercentages()?.noPercentage }} %</h5>
                      </td>
                    </tr>
                    <!---->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="mb-0">Will you be joining?</h6>
            </div>
            <div class="d-flex gap-2 justify-content-end">
              <!-- RSVP Section -->
              <button
                class="btn btn-success btn-sm me-2"
                (click)="postAttendance('Yes', eventDetailsData?.id)"
                [disabled]="isButtonDisabled(eventDetailsData, 'Yes')"
              >
                Yes
              </button>
              <button
                class="btn btn-danger btn-sm me-2"
                (click)="postAttendance('No', eventDetailsData?.id)"
                [disabled]="isButtonDisabled(eventDetailsData, 'No')"
              >
                No
              </button>
              <button
                class="btn btn-warning btn-sm"
                (click)="postAttendance('MayBe', eventDetailsData?.id)"
                [disabled]="isButtonDisabled(eventDetailsData, 'MayBe')"
              >
                Maybe
              </button>
            </div>
          </div>
        </div>

        <!-- <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="mb-0">Will you be joining?</h6>
            </div>
            <div class="d-flex gap-2 justify-content-end">
              <button class="btn btn-danger btn-sm">No</button
              ><button class="btn btn-warning btn-sm">Maybe</button
              ><button class="btn btn-primary btn-sm">Yes</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
