<div class="container-fluid">
  <app-page-title title="Reimbursement" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body border-bottom">
                <div>
                  <h6 class="card-title">Reimbursement Details</h6>
                  <p class="card-title-desc mb-0">
                    Enter the details for the reimbursement request.
                  </p>
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-12 mt-3">
                    <label for="image" class="col-form-label">Upload Image</label>
                    <div>
                      <input type="file" class="form-control" (change)="uploadLogo($event)" id="fileInput">
                      <div *ngIf="fileError" class="text-danger">
                        {{ fileError }}
                      </div>
                      <div *ngIf="image" class="mt-2">
                        <img [src]="image" alt="Preview" class="img-fluid" style="max-width: 200px;">
                        <button type="button" class="btn btn-danger btn-sm mt-2" (click)="removeImage()">Remove
                          Image</button>
                      </div>
                      <button type="submit" class="btn btn-primary btn-md mt-2" (click)="extractFile()">
                        Extract
                      </button>
                    </div>
                  </div>

                  <div *ngIf="isLoading" class="d-flex justify-content-center mt-3">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-12 mt-3">
                      <label for="title" class="col-form-label">Title<span class="asterisk">*</span></label>
                      <div>
                        <input type="text" class="form-control" placeholder="Eg. Trip Expense" formControlName="title"
                          minlength="5" maxlength="50">
                        <div
                          *ngIf="myForm.get('title').invalid && (myForm.get('title').dirty || myForm.get('title').touched)"
                          class="text-danger">
                          <div *ngIf="myForm.get('title').errors.required">Title is required.</div>
                          <div *ngIf="myForm.get('title').errors.minlength">Title must be at least 5 characters.</div>
                          <div *ngIf="myForm.get('title').errors.maxlength">Title must be less than 50 characters.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-6 mt-3">
                      <label for="amount" class="col-form-label">Amount<span class="asterisk">*</span></label>
                      <div>
                        <input type="number" class="form-control" placeholder="Eg. 500" formControlName="amount"
                          required min="1" max="100000" />
                        <div
                          *ngIf="myForm.get('amount').invalid && (myForm.get('amount').dirty || myForm.get('amount').touched)"
                          class="text-danger">
                          <div *ngIf="myForm.get('amount').errors.required">Amount is required.</div>
                          <div *ngIf="myForm.get('amount').errors.min">Amount cannot be less than 1.</div>
                          <div *ngIf="myForm.get('amount').errors.max">Amount must be less than or equal to {{ maxAmount
                            }}.</div>
                          <div *ngIf="myForm.get('amount').errors.pattern">Amount must be a number between 10 and
                            999999.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-6 mt-3">
                      <label for="type" class="col-form-label">Reimbursement Type <span
                          class="asterisk">*</span></label>
                      <div>
                        <ng-select [items]="reimbursementType" bindLabel="label" bindValue="value"
                          formControlName="type" placeholder="Select Type" required>
                        </ng-select>
                        <div
                          *ngIf="myForm.get('type').invalid && (myForm.get('type').dirty || myForm.get('type').touched)"
                          class="text-danger">
                          <div *ngIf="myForm.get('type').errors.required">Reimbursement Type is required.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 mt-3">
                      <label for="description" class="col-form-label">Description<span class="asterisk"></span></label>
                      <div>
                        <textarea style="height: 200px;" class="form-control" formControlName="description"
                          placeholder="Enter the description" minlength="10" maxlength="200"></textarea>
                        <div
                          *ngIf="myForm.get('description').invalid && (myForm.get('description').dirty || myForm.get('description').touched)"
                          class="text-danger">
                          <div *ngIf="myForm.get('description').errors.required">Description is required.</div>
                          <div *ngIf="myForm.get('description').errors.minlength">Description must be at least 10
                            characters.</div>
                          <div *ngIf="myForm.get('description').errors.maxlength">Description must be less than 200
                            characters.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 d-flex justify-content-start align-items-center gap-2" style="margin-top: 15px;">
                      <button type="submit" class="btn btn-primary btn-md"
                        [disabled]="!myForm.valid || status === 1 || status === 2">
                        <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Save
                      </button>
                      <button type="button" class="btn btn-dark btn-md" (click)="navigateToList()">
                        <i class="bx bx-x-circle font-size-16 align-middle me-2"></i> Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-6">
      <div *ngIf="image" class="mt-2">
        <div class="card">
          <div class="card-body text-center">
            <img [src]="image" alt="Preview" class="img-fluid w-100" style="max-height: 400px; object-fit: contain;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
