<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Employee List</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="navigateToRequest()">Add New Request
                <i class="mdi mdi-refresh"></i>
              </a>
              <div class="dropdown d-inline-block" ngbDropdown>
                <button type="button" class="btn btn-success" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false" ngbDropdownToggle>
                  <i class="mdi mdi-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" ngbDropdownMenu>
                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered align-middle nowrap">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Activity</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of RequestData; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item?.user.firstName}} {{ item?.user.lastName }}</td>
                  <td>{{ item?.date || 'N/A' }}</td>
                  <td>{{ item?.time || 'N/A' }}</td>
                  <td>{{ item?.action || 'N/A' }}</td>
                  <td class="hstack mt-3">
                    <div *ngFor="let status of requestStatusList">
                      <div *ngIf="status.id === +item.status">
                        <span class="badge bg-success">
                          {{ status.label }}
                        </span>
                      </div>
                    </div>
                  </td>
               
                  <td *ngIf="roles.includes('employee')">
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" (click)="rejectRequest(item?.id)"
                          class="btn btn-sm btn-danger d-flex align-items-center p-2"
                          [ngClass]="{'disabled-btn': item.status === '1' || item.status === '2'}"
                          [attr.disabled]="item.status === '1' || item.status === '2' ? true : null">
                          <i class="bx bx-trash-alt"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                  <td *ngIf="roles == 'admin'">
                    <div>
                      <div class="list-unstyled hstack gap-1 mb-0">

                        <button type="button" 
        (click)="approveRequest(item, '1')" 
        class="btn btn-success"
        [disabled]="item.status === '1' || item.status === '2'">
        Approve
</button>

<button type="button" 
        *ngIf="item.status === '3'"  
        (click)="rejectRequest(item?.id, '2')" 
        class="btn btn-danger"
        [disabled]="item.status === '2'">
        Reject
</button>

                
                      </div>
                    </div>
                  </td>

                </tr>
              </tbody>
              <ng-template *ngIf="RequestData?.length < 0">
                <tr>
                  <td colspan="8" class="text-center">No Attendance request found.</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="row justify-content-between align-items-center mt-3" *ngIf="RequestData?.length > 0">
            <div class="col-12 col-md-4">
              <div>
                <span>Showing <strong> {{ offset + 1 }} - {{ (offset + limit) < totalRecord ? (offset + limit) :
                      totalRecord }} </strong> of <strong>{{ totalRecord }}</strong> records</span>
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="d-flex justify-content-md-end">
                <nav aria-label="Page navigation" class="d-flex align-items-center">
                  <ul class="pagination">
                    <li class="page-item" [class.disabled]="offset === 0">
                      <a class="page-link" (click)="previousPage()" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                      </a>
                    </li>
                    <li class="page-item" *ngFor="let pageNumber of getPageNumbers()"
                      [class.active]="pageNumber === currentPage">
                      <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="offset + limit >= totalRecord">
                      <a class="page-link ms-2" (click)="nextPage()" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>