<div class="container-fluid">
  <app-page-title title="Employee Shift Mapping" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card banner-left">
        <div class="card-body">
          <h4 class="card-title mb-4">Employee Shift Mapping</h4>
          <button class="btn btn-light btn-rounded btn-sm banner-close">
            <i class="bx bx-plus font-size-16"></i>
          </button>
          <div class="hori-timeline">
            <ngx-slick-carousel dir="ltr" [config]="slideConfig" class="events navs-carousel mb-3">
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Morning Shift</h5>
                      <p class="text-muted">7:00 AM - 3:00 PM</p>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">Responsible for monitoring daily operations, team check-ins, and task
                        delegation for the morning team.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Shift 2 -->
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Night Shift</h5>
                      <p class="text-muted">11:00 PM - 7:00 AM</p>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">Focused on security monitoring, overnight system updates, and ensuring
                        smooth transitions to the morning team.</p>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body border-bottom d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-2 card-title flex-grow-1">Employee Shift Mapping</h5>
        <p class="mb-0 font-size-12 text-muted">
          A detailed view of employee shift schedules, ensuring seamless task management across morning, afternoon, and
          night shifts.
        </p>
      </div>
    </div>

    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-4" style="margin-left: 15px;">
          <div class="row justify-content-between">
            <div class="col">
              <input  style="margin-left: 16px;" type="text" class="form-control" id="searchInput" [(ngModel)]="filterBy"
                placeholder="Search Employee">
            </div>
            <div class="col-auto">
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="filter()">Search</button>
                <button class="btn btn-light ms-3" (click)="reset()">
                  <i class="bx bx-reset"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-bottom pb-0" *ngIf="filteredEmployeeList?.length > 0">
      <div class="table-responsive">
        <table class="table  align-middle nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Email</th>
              <th scope="col">Shift Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Edit</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredEmployeeList; index as i">
              <td>{{ item.basicDetails?.employeeCode }}</td>
              <td>{{ item.basicDetails?.firstName }} {{ item.basicDetails?.lastName }}</td>
              <td>{{ item.basicDetails?.email }}</td>
              <td>{{ item.shiftName || 'N/A' }}</td>
              <td>{{ item.fromTime || 'N/A' }}</td>
              <td>{{ item.toTime || 'N/A' }}</td>
              <td>
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                    <button class="btn btn-primary" (click)="centerModal(centerDataModal, item)">Change
                      Shift</button>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
          <ng-template *ngIf="filteredEmployeeList.length < 0">
            <tr>
              <td colspan="8" class="text-center">No employees found.</td>
            </tr>
          </ng-template>
        </table>
      </div>
      <div class="row justify-content-between align-items-center mt-3" *ngIf="filteredEmployeeList?.length > 0">
        <div class="col-12 col-md-4">
          <div>
            <span>Showing <strong> {{ offset + 1 }} - {{ (offset + limit) < totalRecord ? (offset + limit) : totalRecord
                  }} </strong> of <strong>{{ totalRecord }}</strong> records</span>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-md-end">
            <nav aria-label="Page navigation" class="d-flex align-items-center">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="offset === 0">
                  <a class="page-link" (click)="previousPage()" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()"
                  [class.active]="pageNumber === currentPage">
                  <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item" [class.disabled]="offset + limit >= totalRecord">
                  <a class="page-link ms-2" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filteredEmployeeList?.length == 0" class="card mt-5 py-5">
      <div class="card-body text-center">
        <i class="bx bx-box text-primary h2 mb-4"></i>
        <p class="text-muted">
          There are no employee available.
        </p>
      </div>
    </div>
  </div>
</div>
<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="align-items-center">Assign Shift</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="shiftForm()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Shift Name</label>
            <select class="form-control" formControlName="shiftName"
              [ngClass]="{'is-invalid': submitted && formData.controls.shiftName.errors}">
              <option value="" disabled selected>Select a shift</option> <!-- Placeholder -->
              <option *ngFor="let shift of shiftListData" [value]="shift.shiftName">
                {{ shift.shiftName }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Reason</label>
            <textarea class="form-control" rows="3" placeholder="Enter Reason" formControlName="reason"
              [ngClass]="{'is-invalid': submitted && form.reason.errors}"></textarea>
            <div *ngIf="submitted && form.reason.errors" class="invalid-feedback">
              <span *ngIf="form.reason.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-end mt-2 sty">
        <button type="submit" class="btn btn-primary" id="btn-save-event">
          Submit
        </button>
        <button type="button" class="btn btn-light me-1" (click)="modal.dismiss('Close')">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>