<div class="container-fluid">
  <app-page-title title="Reimbursement" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card banner-left">
        <div class="card-body">
          <h4 class="card-title mb-4">Horizontal Timeline</h4>
          <button class="btn btn-light btn-rounded btn-sm banner-close">
            <i class="bx bx-plus font-size-16"></i>
          </button>
          <div class="hori-timeline">
            <ngx-slick-carousel dir="ltr" [config]="slideConfig" class="events navs-carousel mb-3">
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Create Reimbursement</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">The direction is great. Octavia Spencer had a show on Apple TV+,
                        but Apple canceled it in the spring.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Create Reimbursement</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">The direction is great. Octavia Spencer had a show on Apple TV+,
                        but Apple canceled it in the spring.</p>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="designation == designationRole[1].value">
    <div class="col-lg-3">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Pending Amount</p>
              <h5 class="mb-0">{{ reimbursementTotalData?.pending?.totalAmount ?
                (reimbursementTotalData?.pending?.totalAmount | currency: 'INR':'symbol':'1.2-2') : '--' }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Disbursed Amount</p>
              <h5 class="mb-0">{{ reimbursementTotalData?.disbursed?.totalAmount ?
                (reimbursementTotalData?.disbursed?.totalAmount | currency: 'INR':'symbol':'1.2-2') : '--' }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-warning font-size-20">
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Approved Amount</p>
              <h5 class="mb-0">{{ reimbursementTotalData?.approved?.totalAmount ?
                (reimbursementTotalData?.approved?.totalAmount | currency: 'INR':'symbol':'1.2-2') : '--' }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-success font-size-20">
                <i class="bx bxs-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Rejected Amount</p>
              <h5 class="mb-0">{{ reimbursementTotalData?.rejected?.totalAmount ?
                (reimbursementTotalData?.rejected?.totalAmount | currency: 'INR':'symbol':'1.2-2') : '--' }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-danger font-size-20">
                <i class="bx bxs-x-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body border-bottom d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-2 card-title flex-grow-1">Reimbursement List</h5>
            <p class="mb-0 font-size-12 text-muted">
              The direction is great. Octavia Spencer had a show on Apple TV+, but Apple canceled it in the spring.
            </p>
          </div>
          <div class="">
            <button class="btn btn-primary" (click)="addReimbursement()">Add Reimbursement</button>
          </div>
        </div>

        <div class="card-body pb-0">
          <div class="row justify-content-end">
            <div class="col-12 col-lg-8">
              <div class="row justify-content-between">
                <div class="col">
                  <label class="col-form-label">Expense Title</label>
                  <input type="text" class="form-control" id="searchInput" [(ngModel)]="filterBy"
                    (ngModelChange)="filter()" placeholder="Eg. Trip Expense" (keyup)="filter()" />
                </div>

                <div class="col">
                  <label class="col-form-label">Search Amount</label>
                  <input type="text" class="form-control" id="searchInput" [(ngModel)]="filterByAmount"
                    (ngModelChange)="filter()" placeholder="Eg. 500" (keyup)="filter()" />
                </div>

                <div class="col">
                  <label class="col-form-label">Expense Type</label>
                  <ng-select [items]="expenseList" bindLabel="name" [(ngModel)]="filterByExpense"
                    (ngModelChange)="filter()" placeholder="Expense Type" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                      {{ item || 'Select' }}
                    </ng-template>
                  </ng-select>
                </div>

                <div class="col">
                  <label class="col-form-label">Status</label>
                  <ng-select [items]="reimbursementStatusList" bindLabel="label" bindValue="id"
                    [(ngModel)]="filterByStatus" (change)="filter()" placeholder="Select Status" [clearable]="false">

                    <ng-template ng-label-tmp let-item="item">
                      {{ item.label || 'Select' }}
                    </ng-template>
                  </ng-select>
                </div>

                <div class="col">
                  <label class="col-form-label">Select Month/Year</label>
                  <input type="month" [(ngModel)]="selectedMonthYear" (change)="onMonthYearChange($event)"
                    [min]="minMonthYear" class="form-control" />
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="card-body pb-0">
          <div class="row">
            <div class="col">
              <div class="d-flex flex-wrap">
                <div *ngIf="filterBy" class="filter-box">
                  <span><strong>{{ filterBy }}</strong></span>
                  <button type="button" (click)="resetFilter('filterBy')" class="close-btn">&times;</button>
                </div>
                <div *ngIf="filterByAmount" class="filter-box">
                  <span><strong>{{ filterByAmount }}</strong></span>
                  <button type="button" (click)="resetFilter('filterByAmount')" class="close-btn">&times;</button>
                </div>
                <div *ngIf="filterByExpense" class="filter-box">
                  <span><strong>{{ filterByExpense }}</strong></span>
                  <button type="button" (click)="resetFilter('filterByExpense')" class="close-btn">&times;</button>
                </div>
                <div *ngIf="filterByStatus" class="filter-box">
                  <span><strong>{{ getStatusLabel(filterByStatus) }}</strong></span>
                  <button type="button" (click)="resetFilter('filterByStatus')" class="close-btn">&times;</button>
                </div>
                <div *ngIf="selectedMonthYear" class="filter-box">
                  <span><strong>{{ selectedMonthYear }}</strong></span>
                  <button type="button" (click)="resetFilter('monthYear')" class="close-btn">
                    &times;
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="spinnerv2 mt-5 pt-5" *ngIf="reimbursementData?.length == 0">
          <span class="loader"></span>
        </div>

        <div class="card-body border-bottom pb-0" *ngIf="reimbursementData?.length > 0">
          <div class="table-responsive" *ngIf="designation == designationRole[3].value">
            <table class="table  align-middle nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col">Expense Title</th>
                  <th scope="col">Expense Type</th>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of reimbursementData; index as i">
                  <td><a class="d-flex align-items-center p-2" style="color: #000; cursor: pointer;"
                      (click)="onDetails(item.id)">{{ item?.title? (item?.title | titlecase | slice:0:15) :'--' }}</a>
                  </td>
                  <td>{{ item?.type || '--' }}</td>
                  <td>{{ item?.date? (item.date | date:"dd/MM/yyyy") : '--' }}</td>
                  <td>{{ item?.amount ? (item?.amount | currency: 'INR':'symbol':'1.2-2') : '--' }}</td>
                  <td>
                    <span class="badge"
                      [ngClass]="{ 'bg-success': item.status === 1, 'bg-info': item.status === 3, 'bg-danger': item.status === 2}">{{
                      getStatusLabel(item?.status) || '--' }}</span>
                  </td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                        <a class="btn btn-sm btn-primary d-flex align-items-center p-2" (click)="onDetails(item.id)"><i
                            class="bx bx-right-top-arrow-circle"></i></a>
                      </li>
                      <li *ngIf="item?.status !== 1 && item?.status !== 2" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" (click)="onEdit(item?.id)"
                          class="btn btn-sm btn-dark  d-flex align-items-center p-2"><i class="bx bx-cog"></i></a>
                      </li>
                      <li *ngIf="item?.status !== 1 && item?.status !== 2" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" (click)="deleteReimbursement(item?.id)"
                          class="btn btn-sm btn-danger  d-flex align-items-center p-2"><i
                            class="bx bx-trash-alt"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="spinnerv2 mt-5 pt-5" *ngIf="reimbursementData?.length == 0">
            <span class="loader"></span>
          </div>

          <div class="table-responsive" *ngIf="designation == designationRole[1].value">
            <table class="table  align-middle nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Expense Title</th>
                  <th scope="col">Expense Type</th>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of reimbursementData; index as i">
                  <td>
                    <div style="display: flex; justify-content: left; align-items: center;">
                      <div>
                        <div class="avatar-xs" style="width: 35px; height: 35px;" *ngIf="!item?.user?.image">
                          <span class="avatar-title rounded-circle">
                            {{item?.user?.firstName.charAt(0)}}
                          </span>
                        </div>
                        <div *ngIf="item?.user?.image">
                          <img class="rounded-circle avatar-xs" src="{{item?.user?.image}}" alt="">
                        </div>
                      </div>
                      <div style="margin: 15px;">
                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark"
                            (click)="onDetails(item.id)">{{ item?.user?.firstName?
                            (item?.user?.firstName | titlecase | slice:0:15) :'N/A' }} {{ item?.user?.lastName?
                            (item?.user?.lastName | titlecase | slice:0:15) :'N/A' }}</a>
                        </h5>
                        <p class="text-muted mb-0">{{item?.user?.employeeCode || 'N/A'}}</p>
                      </div>
                    </div>
                  </td>
                  <td>{{ item?.title || 'N/A' }}</td>
                  <td>{{ item?.type || 'N/A' }}</td>
                  <td>{{ item?.date? (item.date | date:"dd/MM/yyyy") : 'N/A' }}</td>
                  <td>{{ item?.amount ? (item?.amount | currency: 'INR':'symbol':'1.2-2') : 'N/A' }}</td>
                  <td>
                    <span class="badge"
                      [ngClass]="{ 'bg-success': item.status === 1, 'bg-info': item.status === 3, 'bg-danger': item.status === 2}">{{
                      getStatusLabel(item?.status) || 'N/A' }}</span>
                  </td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <!-- Approval Button (Check Mark Icon) -->
                      <li href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve">
                        <a class="btn btn-sm btn-primary d-flex align-items-center p-2"
                          *ngIf="item?.status === 2 || item?.status === 3"
                          (click)="centerModalForApprove(approveDataModal, item)">
                          <i class="bx bx-check-double font-size-16 align-middle"></i>
                        </a>
                      </li>

                      <!-- Rejection Button (Cross Icon) -->
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal"
                          *ngIf="item?.status === 1 || item?.status === 3"
                          (click)="centerModalForReject(rejectDataModal, item)"
                          class="btn btn-sm btn-danger d-flex align-items-center p-2">
                          <i class="bx bx-x-circle font-size-16 align-middle"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row justify-content-between align-items-center mt-3">
            <div class="col-12 col-md-4">
              <div>
                <span>Showing <strong> {{ offset + 1 }} - {{ (offset + limit) < totalRecords ? (offset + limit) :
                      totalRecords }} </strong> of <strong>{{ totalRecords }}</strong> records</span>
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="d-flex justify-content-md-end">
                <nav aria-label="Page navigation" class="d-flex align-items-center">
                  <ul class="pagination">
                    <li class="page-item" [class.disabled]="offset === 0">
                      <a class="page-link" (click)="previousPage()" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                      </a>
                    </li>
                    <li class="page-item" *ngFor="let pageNumber of getPageNumbers()"
                      [class.active]="pageNumber === currentPage">
                      <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="offset + limit >= totalRecord">
                      <a class="page-link ms-2" (click)="nextPage()" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="reimbursementData?.length == 0" class="card mt-5 py-5">
          <div class="card-body text-center">
            <i class="bx bx-box text-primary h2 mb-4"></i>
            <p class="text-muted">
              There are no reimbursement available.
            </p>
            <div class="btn btn-sm btn-primary" (click)="addReimbursement()">
              Add New Reimbursement
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #approveDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Approve Reimbursement</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="mat-subtitle-2 lh-16 custom-content">Do you really want to approve this reimbursement?</p>

    <form [formGroup]="approvedForm">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment For Approved</label>
        <textarea id="comment" rows="4" class="form-control" formControlName="comment"
          placeholder="Enter your comment"></textarea>
        <div *ngIf="approvedForm.get('comment').hasError('required')" class="text-danger">
          Comment is required
        </div>
        <div *ngIf="approvedForm.get('comment').hasError('minLength')" class="text-danger">
          Please enter at least 10 characters.
        </div>
        <div *ngIf="approvedForm.get('comment').hasError('maxLength')" class="text-danger">
          Please enter no more than 200 characters.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateStatusForApprove(id)" data-bs-dismiss="modal">
      Approve
    </button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      No
    </button>
  </div>
</ng-template>

<ng-template #rejectDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Reject Reimbursement</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="mat-subtitle-2 lh-16 custom-content">Do you really want to reject this reimbursement?</p>
    <form [formGroup]="rejectForm">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment For Rejected</label>
        <textarea id="comment" rows="4" class="form-control" formControlName="comment"
          placeholder="Enter your comment"></textarea>
        <div *ngIf="rejectForm.get('comment')?.hasError('required')" class="text-danger">
          Comment is required
        </div>
        <div *ngIf="rejectForm.get('comment')?.hasError('minLength')" class="text-danger">
          Please enter at least 10 characters.
        </div>
        <div *ngIf="rejectForm.get('comment')?.hasError('maxLength')" class="text-danger">
          Please enter no more than 200 characters.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="updateStatusForReject(id, modal)"
      [disabled]="rejectForm.invalid" data-bs-dismiss="modal">
      Reject
    </button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      No
    </button>
  </div>
</ng-template>
