.feed-item{
  position: relative;
  .left{

  }
  .right{
    padding-left: 0 !important;
    &::before{
      content: "";
      left: -20px;
      width: 50px;
      height: 20px;
      background-color: var(--bs-white);
      position: absolute;
      z-index: 1;
    }
  }
}

.selected-text strong {
  color: purple;
}
