<div class="container-fluid">
  <!-- Page Title -->
  <app-page-title
    title="News and Announcements  "
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <!-- Left Sidebar -->
      <div class="email-leftbar card">
        <button
          type="button"
          data-toggle="modal"
          data-target="#composemodal"
          class="btn btn-primary btn-block"
          *ngIf="loggedInUser?.user?.roles.includes('admin')"
          (click)="openModal(centerDataModal)"
        >
          New Post
        </button>
        <div class="mail-list mt-4">
          <a
            href="javascript:void(0);"
            [ngClass]="{ active: selectedCategory === 'all' }"
            (click)="filterFeed('all')"
          >
            <i class="fa-duotone fa-inbox me-2"></i> All ({{ feedCounts.all }})
          </a>
          <a
            href="javascript:void(0);"
            [ngClass]="{ active: selectedCategory === 'news' }"
            (click)="filterFeed('news')"
          >
            <i class="fa-duotone fa-newspaper me-2"></i> News ({{
              feedCounts.news
            }})
          </a>
          <a
            href="javascript:void(0);"
            [ngClass]="{ active: selectedCategory === 'event' }"
            (click)="filterFeed('event')"
          >
            <i class="fa-duotone fa-calendar-days me-2"></i> Events ({{
              feedCounts.event
            }})
          </a>
          <a
            href="javascript:void(0);"
            [ngClass]="{ active: selectedCategory === 'poll' }"
            (click)="filterFeed('poll')"
          >
            <i class="fa-duotone fa-chart-column me-2"></i> Polls ({{
              feedCounts.poll
            }})
          </a>
          <a
            href="javascript:void(0);"
            [ngClass]="{ active: selectedCategory === 'announcement' }"
            (click)="filterFeed('announcement')"
          >
            <i class="fa-duotone fa-bullhorn me-2"></i> Announcements ({{
              feedCounts.announcement
            }})
          </a>
        </div>
      </div>

      <!-- Show Spinner While Loading -->
      <div class="spinnerv2 mt-5 pt-5" *ngIf="loading">
        <span class="loader"></span>
      </div>

      <!-- Show No Data Message When There is No Data -->
      <div class="text-center" *ngIf="!loading && feedData?.length === 0">
        <h5>No Feed Data Available</h5>
      </div>
      <!-- Right Content Area -->
      <div class="email-rightbar mb-3" *ngIf="feedData?.length > 0">
        <div class="row">
          <div class="col-xl-12">
            <div *ngFor="let item of feedData" class="row feed-item">
              <div class="col-8 left">
                <div class="card">
                  <div class="card-body border-bottom pb-2">
                    <div class="position-relative mb-3" *ngIf="item?.image">
                      <div
                        class="position-relative mb-3"
                        *ngIf="!isPdfFile(item?.image)"
                      >
                        <img
                          [src]="item?.image"
                          alt="feed Image"
                          class="img-fluid rounded"
                        />
                      </div>

                      <!-- PDF Display -->
                      <a
                        href="javascript:void(0);"
                        class="btn btn-outline-secondary"
                        style="
                          border-radius: 8px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          cursor: pointer;
                        "
                        *ngIf="isPdfFile(item?.image)"
                      >
                        <i
                          class="bx bxs-file-pdf"
                          style="
                            font-size: 24px;
                            margin-right: 8px;
                            color: #d9534f;
                          "
                        ></i>
                        Open PDF
                      </a>

                      <!-- PDF Download Button -->
                      <button
                        class="btn btn-primary btn-sm mt-3"
                        *ngIf="
                          item?.type === 'announcement' &&
                          isPdfFile(item?.image)
                        "
                        (click)="downloadFile(item?.image)"
                      >
                        <i class="bx bx-download"></i> Download Notice
                      </button>
                    </div>

                    <div class="flex-grow-1 justify-content-end mb-2">
                      <small class="text-muted">
                        Posted on
                        {{
                          item?.startDate ||
                          item?.date ||
                          item?.noticeDate ||
                          item?.startDateTime
                            ? (item?.startDate ||
                                item?.date ||
                                item?.noticeDate ||
                                item?.startDateTime | date : "MMM d, y")
                            : ""
                        }}
                        <ng-container
                          *ngIf="item?.endDateTime || item?.type === 'polls'"
                        >
                          at
                          {{
                            item?.endDateTime
                              ? (item?.endDateTime | date : "h:mm a")
                              : ""
                          }}
                        </ng-container>
                      </small>
                    </div>
                    <h5
                      (click)="navigateToDetails(item)"
                      class="mb-2 text-primary"
                    >
                      {{ item?.title || item?.eventTitle || item?.noticeTitle }}
                    </h5>
                    <p
                      *ngIf="item?.description"
                      [innerHTML]="item?.description"
                      class="mb-0 text-muted"
                    ></p>
                  </div>
                  <div class="card-body pt-3">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div class="d-flex align-items-center"></div>
                      <div class="justify-content-end">
                        <div class="d-flex gap-3">
                          <a
                            *ngIf="
                              (item?.type === 'news' ||
                                item?.type === 'event') &&
                              (item?.type === 'poll' ||
                                item?.type !== 'announcement')
                            "
                            href="javascript:void(0);"
                            class="text-muted"
                            (click)="like(item?.id, item)"
                            [disabled]="!loggedInUser?.user?.id"
                          >
                            <i
                              class="fa-duotone fa-thumbs-up align-middle me-1"
                              [ngClass]="{
                                'text-primary': item?.likes?.includes(
                                  loggedInUser?.user?.id
                                ),
                                'text-muted': !item?.likes?.includes(
                                  loggedInUser?.user?.id
                                )
                              }"
                            ></i>
                            <span class="text-muted ms-2">
                              {{ item?.likes?.length || 0 }}
                              {{ item?.likes?.length === 1 ? "Like" : "Likes" }}
                            </span>
                          </a>
                          <a
                            *ngIf="item?.type !== 'announcement'"
                            (click)="navigateToDetails(item)"
                            href="javascript:void(0);"
                            class="text-muted"
                          >
                            <i
                              class="fa-duotone fa-comment-dots align-middle me-1"
                            ></i
                            ><span class="text-muted ms-2">
                              {{
                                item?.comments?.length === 1
                                  ? "Comment"
                                  : "Comments"
                              }}
                              {{ item?.comments?.length || 0 }}
                            </span>
                          </a>
                          <a
                            href="javascript:void(0);"
                            class="text-muted"
                            (click)="shareEvent(item)"
                          >
                            <i
                              class="fa-duotone fa-share align-middle me-1"
                            ></i>
                            Share
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 right">
                <div class="card ms-2 flex-grow-1">
                  <div class="card-body border-bottom">
                    <div class="d-flex mb-3 align-items-center">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-light">
                            <i
                              class="fa-duotone fa-calendar-days text-dark"
                            ></i>
                          </span>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <p class="text-muted mb-1 font-size-12">
                          {{
                            item?.type === "news"
                              ? "Newsfeed Posted On"
                              : item?.type === "event"
                              ? "Event Date"
                              : item?.type === "poll"
                              ? "Poll Date"
                              : item?.type === "announcement"
                              ? "Notice Posted On"
                              : "Date"
                          }}
                        </p>
                        <h5 class="font-size-14 mb-0">
                          {{
                            item?.noticeDate
                              ? (item?.noticeDate | date : "dd MMM, yyyy")
                              : item?.type === "poll" && item?.startDateTime
                              ? (item?.startDateTime | date : "dd MMM, yyyy")
                              : item?.date
                              ? (item?.date | date : "dd MMM, yyyy")
                              : item?.startDate
                              ? (item?.startDate | date : "dd MMM, yyyy")
                              : ""
                          }}
                          <span
                            *ngIf="
                              (item?.type === 'event' && item?.endDate) ||
                              (item?.type === 'poll' && item?.endDateTime)
                            "
                          >
                            -
                            {{
                              item?.type === "event"
                                ? (item?.endDate | date : "dd MMM, yyyy")
                                : (item?.endDateTime | date : "dd MMM, yyyy")
                            }}
                          </span>
                        </h5>
                      </div>
                    </div>
                    <div class="d-flex mb-3 align-items-center">
                      <div class="flex-shrink-0 me-3">
                        <!-- Show clock icon only if item?.type is 'event', otherwise show user icon -->
                        <div
                          *ngIf="
                            item?.type === 'event' || item?.type === 'poll';
                            else userIcon
                          "
                        >
                          <div class="avatar-xs">
                            <span class="avatar-title rounded-circle bg-light">
                              <i class="fa-duotone fa-clock text-dark"></i>
                            </span>
                          </div>
                        </div>

                        <!-- User Icon -->
                        <ng-template #userIcon>
                          <div class="avatar-xs">
                            <span class="avatar-title rounded-circle bg-light">
                              <i class="fa-duotone fa-user text-dark"></i>
                            </span>
                          </div>
                        </ng-template>
                      </div>
                      <div class="flex-grow-1">
                        <!-- Show 'Time' for 'event' and 'poll', otherwise 'Posted By' -->
                        <p class="text-muted mb-1 font-size-12">
                          {{
                            item?.type === "event" || item?.type === "poll"
                              ? "Time"
                              : "Posted By"
                          }}
                        </p>

                        <h5 class="font-size-14 mb-1">
                          <!-- Polls: Extract only time from startDateTime and endDateTime -->
                          <span *ngIf="item?.type === 'poll'">
                            {{
                              item?.startDateTime
                                ? item?.startDateTime.split("T")[1]
                                : "Unknown"
                            }}
                            <span *ngIf="item?.endDateTime">
                              - {{ item?.endDateTime.split("T")[1] }}
                            </span>
                          </span>

                          <!-- Events: Use startTime and endTime -->
                          <span *ngIf="item?.type === 'event'">
                            {{ item?.startTime || "Unknown" }}
                            <span *ngIf="item?.endTime">
                              - {{ item?.endTime }}
                            </span>
                          </span>

                          <!-- Other types: Show employee name -->
                          <span
                            *ngIf="
                              !(item?.type === 'event' || item?.type === 'poll')
                            "
                          >
                            {{ item?.employee?.name || "Unknown" }}
                          </span>
                        </h5>
                      </div>
                    </div>
                    <div class="d-flex mb-3 align-items-center">
                      <!-- Container for the poll button -->
                      <div class="flex-grow-2">
                        <button
                          *ngIf="item?.type === 'poll'"
                          type="submit"
                          class="btn btn-primary btn-sm"
                          (click)="openMarkPoll(item.id, dataModal)"
                        >
                          {{ getPollButtonLabel(item, userId) }}
                        </button>

                        <p
                          *ngIf="getUserSelection(item, userId)"
                          class="mt-2 selected-text"
                        >
                          You selected:
                          <strong>{{ getUserSelection(item, userId) }}</strong>
                        </p>

                        <!-- Show results if the poll has ended -->
                        <div *ngIf="hasPollEnded(item)" class="mt-3">
                          <h6>Poll Results:</h6>
                          <ul>
                            <li *ngFor="let option of item.options">
                              {{ option.option }} -
                              <strong>{{
                                getVoteCount(item, option.option)
                              }}</strong>
                              votes
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        (item?.location === 'offline' &&
                          item?.address?.length) ||
                        (item?.noticeDate && item?.workLocation?.name)
                      "
                      class="d-flex mb-3 align-items-center"
                    >
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-light">
                            <i class="fa-duotone fa-map-pin text-dark"></i>
                          </span>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <p class="text-muted mb-1 font-size-12">
                          {{ item?.noticeDate ? "Work Location" : "Location" }}
                        </p>
                        <h5 class="font-size-14 mb-0">
                          <div>
                            {{
                              item?.noticeDate
                                ? item?.workLocation?.name
                                : item?.address
                            }}
                            <!-- {{ item?.address }} -->
                          </div>
                        </h5>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        (item?.location === 'online' &&
                          item?.meetingLink?.length) ||
                        (item?.noticeDate && item?.department?.name)
                      "
                      class="d-flex mb-3 align-items-center"
                    >
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-light">
                            <i
                              [ngClass]="
                                item?.noticeDate
                                  ? 'fa-duotone fa-folder-tree'
                                  : 'fa-duotone fa-video'
                              "
                              class="text-dark"
                            ></i>
                          </span>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <p class="text-muted mb-1 font-size-12">
                          {{ item?.noticeDate ? "Department" : "Meeting Link" }}
                        </p>
                        <h5 class="font-size-14 mb-0">
                          <div>
                            {{
                              item?.noticeDate
                                ? item?.department?.name
                                : item?.address
                            }}
                          </div>
                        </h5>
                      </div>
                    </div>
                    <div
                      *ngIf="item?.type === 'event'"
                      class="d-flex mb-3 align-items-center"
                    >
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-light">
                            <i
                              class="fa-duotone fa-regular fa-clipboard-list-check text-dark"
                            ></i>
                          </span>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <p class="text-muted mb-1 font-size-12">Response</p>
                        <h5 class="font-size-14 mb-0">
                          <!-- <div class="progress">
                            <div
                              class="progress-bar bg-success"
                              role="progressbar"
                              [style.width.%]="item.attendancePercentage.yes"
                              aria-valuenow="{{ item.attendancePercentage.yes }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                            <div
                              class="progress-bar bg-warning"
                              role="progressbar"
                              [style.width.%]="item.attendancePercentage.maybe"
                              aria-valuenow="{{ item.attendancePercentage.maybe }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                            <div
                              class="progress-bar bg-danger"
                              role="progressbar"
                              [style.width.%]="item.attendancePercentage.no"
                              aria-valuenow="{{ item.attendancePercentage.no }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                            <div
                              class="progress-bar bg-secondary"
                              role="progressbar"
                              [style.width.%]="item.attendancePercentage.unanswered"
                              aria-valuenow="{{ item.attendancePercentage.unanswered }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div> -->

                          <div class="progress">
                            <!-- Yes Responses: show only if yesCount > 0 -->
                            <div
                              *ngIf="item?.yesCount > 0"
                              role="progressbar"
                              [attr.aria-valuenow]="
                                item?.attendancePercentage?.yes
                              "
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress-bar bg-success"
                              [style.width]="
                                item?.attendancePercentage?.yes + '%'
                              "
                              [style.minWidth]="'5px'"
                              [attr.title]="
                                'Yes: ' + item?.attendancePercentage?.yes + '%'
                              "
                            ></div>
                            <!-- Maybe Responses: show only if maybeCount > 0 -->
                            <div
                              *ngIf="item?.maybeCount > 0"
                              role="progressbar"
                              [attr.aria-valuenow]="
                                item?.attendancePercentage?.maybe
                              "
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress-bar bg-warning"
                              [style.width]="
                                item?.attendancePercentage?.maybe + '%'
                              "
                              [style.minWidth]="'5px'"
                              [attr.title]="
                                'Maybe: ' +
                                item?.attendancePercentage?.maybe +
                                '%'
                              "
                            ></div>

                            <!-- No Responses: show only if noCount > 0 -->
                            <div
                              *ngIf="item?.noCount > 0"
                              role="progressbar"
                              [attr.aria-valuenow]="
                                item?.attendancePercentage?.no
                              "
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress-bar bg-danger"
                              [style.width]="
                                item?.attendancePercentage?.no + '%'
                              "
                              [style.minWidth]="'5px'"
                              [attr.title]="
                                'No: ' + item?.attendancePercentage?.no + '%'
                              "
                            ></div>

                            <!-- Unanswered Responses: always visible -->
                            <div
                              role="progressbar"
                              [attr.aria-valuenow]="
                                item?.attendancePercentage?.unanswered
                              "
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress-bar bg-secondary"
                              [style.width]="
                                item?.attendancePercentage?.unanswered + '%'
                              "
                              [style.minWidth]="
                                item?.attendancePercentage?.unanswered !== '0'
                                  ? '5px'
                                  : '0px'
                              "
                              [attr.title]="
                                'Unanswered: ' +
                                item?.attendancePercentage?.unanswered +
                                '%'
                              "
                            ></div>
                          </div>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="item?.type === 'event'" class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <h6 class="mb-0">Will you be joining?</h6>
                      </div>
                      <div class="d-flex gap-2 justify-content-end">
                        <button
                          class="btn btn-primary btn-sm"
                          (click)="postAttendance('Yes', item?.id)"
                          [disabled]="isButtonDisabled(item, 'Yes')"
                        >
                          Yes
                        </button>
                        <button
                          class="btn btn-danger btn-sm"
                          (click)="postAttendance('No', item?.id)"
                          [disabled]="isButtonDisabled(item, 'No')"
                        >
                          No
                        </button>
                        <button
                          class="btn btn-warning btn-sm"
                          (click)="postAttendance('MayBe', item?.id)"
                          [disabled]="isButtonDisabled(item, 'MayBe')"
                        >
                          Maybe
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Templates -->

<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="align-items-center">Select Action</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- Button for Event -->
    <div class="mb-2">
      <button class="btn btn-primary" (click)="navigateTo('event', modal)">
        Add Event
      </button>
    </div>

    <!-- Button for Newsfeed -->
    <div class="mb-2">
      <button class="btn btn-primary" (click)="navigateTo('newsfeed', modal)">
        Add Newsfeed
      </button>
    </div>

    <!-- Button for Poll -->
    <div class="mb-2">
      <button class="btn btn-primary" (click)="navigateTo('polls', modal)">
        Add Poll
      </button>
    </div>

    <!-- Button for Notice -->
    <div class="mb-2">
      <button class="btn btn-primary" (click)="navigateTo('notice', modal)">
        Add Notice
      </button>
    </div>
  </div>
</ng-template>

<ng-template #dataModal let-modal>
  <div class="modal-header">
    <h5 class="align-items-center">Mark Your Poll</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-mark-poll
      *ngIf="selectedPollId"
      [pollId]="selectedPollId"
    ></app-mark-poll>
  </div>
</ng-template>
