<div class="container-fluid">
  <app-page-title
    title="Event List"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <div>
              <div class="row align-items-center mt-4">
                <div class="col-12">
                  <h5 class="mb-0">Event List</h5>
                </div>
                <div
                  class="text-end mb-4"
                  *ngIf="loggedInUser?.user?.roles == 'admin'"
                >
                  <button class="btn btn-primary" (click)="addEvent()">
                    + Add Event
                  </button>
                </div>
              </div>
              <hr class="mb-4" />
              <div *ngIf="eventsList?.length > 0">
                <div
                  class="row"
                  style="height: 600px; overflow: auto; opacity: 2.5"
                  infinite-scroll
                  [scrollWindow]="false"
                  (scrolled)="onScrollDown($event)"
                >
                  <div class="mb-2" *ngFor="let item of eventsList; index as i">
                    <h5>
                      <a
                        href="javascript: void(0);"
                        (click)="goToDetails(item?.id)"
                        class="text-dark"
                      >
                        {{ item?.eventTitle }}
                      </a>
                    </h5>
                    <h6>{{ item?.eventType }}</h6>
                    <p class="text-muted mb-0">
                      {{ item?.startDate | date : "dd MMM, yyyy" }} to
                      {{ item?.endDate | date : "dd MMM, yyyy" }}
                    </p>
                    <p class="text-muted">
                      From {{ item?.startTime }} to {{ item?.endTime }}
                    </p>
                    <div class="position-relative mb-3">
                      <img [src]="item?.image" alt="" class="img-thumbnail" />
                    </div>
                    <!-- Like Button Section -->
                    <div class="d-flex align-items-center mb-3">
                      <!-- Heart Icon Button -->
                      <button
                        class="btn btn-light btn-sm"
                        (click)="like(item?.id, item)"
                        [disabled]="!loggedInUser?.user?.id"
                      >
                        <span
                          [ngClass]="{
                            'heart-hollow': !item?.likes?.includes(
                              loggedInUser?.user?.id
                            ),
                            'heart-filled': item?.likes?.includes(
                              loggedInUser?.user?.id
                            )
                          }"
                          class="heart-icon"
                        >
                          {{
                            item?.likes?.includes(loggedInUser?.user?.id)
                              ? "♥"
                              : "♡"
                          }}
                        </span>
                      </button>
                      <!-- Likes Count -->
                      <span class="text-muted ms-2">
                        {{ item?.likes?.length || 0 }}
                        {{ item?.likes?.length === 1 ? "Like" : "Likes" }}
                      </span>
                    </div>
                    <ul class="list-inline">
                      <!-- Show Address if the event is offline -->
                      <li
                        class="list-inline-item me-3"
                        *ngIf="
                          item?.location === 'offline' && item?.address?.length
                        "
                      >
                        <a href="javascript: void(0);" class="text-muted">
                          <i
                            class="bx bxs-map-pin align-middle text-muted me-1"
                          ></i>
                          {{ item?.address }}
                        </a>
                      </li>
                      <!-- Show Meeting Link if the event is online -->
                      <li
                        class="list-inline-item me-3"
                        *ngIf="
                          item?.location === 'online' &&
                          item?.meetingLink?.length
                        "
                      >
                        <a href="javascript: void(0);" class="text-muted">
                          <i
                            class="bx bx-link align-middle text-muted me-1"
                          ></i>
                          {{ item?.meetingLink }}
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <!-- Attendance Buttons -->
                        <button
                          class="btn btn-success btn-sm me-2"
                          (click)="postAttendance('Yes', item?.id)"
                          [disabled]="
                        item?.attendanceByUser?.[loggedInUser?.user?.id] === 'Yes' || !loggedInUser?.user?.id"
                        >
                          Yes
                        </button>
                        <button
                          class="btn btn-danger btn-sm me-2"
                          (click)="postAttendance('No', item?.id)"
                          [disabled]="
                        item?.attendanceByUser?.[loggedInUser?.user?.id] === 'No' || !loggedInUser?.user?.id"
                        >
                          No
                        </button>
                        <button
                          class="btn btn-warning btn-sm"
                          (click)="postAttendance('MayBe', item?.id)"
                          [disabled]="
                        item?.attendanceByUser?.[loggedInUser?.user?.id] === 'MayBe' || !loggedInUser?.user?.id"
                        >
                          Maybe
                        </button>
                      </li>
                    </ul>
                    <!-- Attendance Counts -->
                    <div class="d-flex justify-content-start">
                      <p class="me-3">Yes: {{ item?.yesCount || 0 }}</p>
                      <p class="me-3">No: {{ item?.noCount || 0 }}</p>
                      <p>Maybe: {{ item?.maybeCount || 0 }}</p>
                    </div>
                    <!-- Action Buttons: Edit & Delete -->
                    <ul
                      class="list-unstyled hstack gap-2"
                      *ngIf="loggedInUser?.user?.roles == 'admin'"
                    >
                      <li
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Edit"
                      >
                        <a
                          href="javascript:void(0);"
                          (click)="goToEdit(item?.id)"
                          class="btn btn-sm btn-dark d-flex align-items-center p-2"
                          ><i class="bx bx-cog"></i
                        ></a>
                      </li>
                      <li
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Delete"
                      >
                        <a
                          href="javascript:void(0);"
                          (click)="deleteEvent(item?.id)"
                          class="btn btn-sm btn-danger d-flex align-items-center p-2"
                          ><i class="bx bx-trash-alt"></i
                        ></a>
                      </li>
                    </ul>
                    <hr class="mb-4" />
                  </div>
                </div>
              </div>
              <!-- Loading Indicator -->
              <div *ngIf="loading" class="text-center">
                <i class="bx bx-loader bx-spin"></i> Loading...
              </div>
              <!-- No Data Available -->
              <div *ngIf="eventsList?.length === 0" class="text-center">
                No Events Available
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
