.bg-overlay {
    background-image: url('https://img.freepik.com/free-photo/business-woman-working-laptop-talkinhg-phone-cafe-by-window_1303-30512.jpg?t=st=1741944522~exp=1741948122~hmac=fc7760c14fa1247078c410f9630d73a1de89d8b843065cb0ea6aee8af032f1ad&w=2000');
    opacity: 1;
}
    .blur {
        background-color: rgb(5 38 29 / 67%) !important;
        backdrop-filter: blur(10px) !important;
        margin-bottom: 0 !important;

        .card-body{
            padding: 50px 60px;
        }

        h5{
            color: var(--bs-body-bg);
        }
        p{
            color: var(--bs-body-bg);
            opacity: 0.75;

        }
    }


