<nav class="navbar navbar-expand-lg navigation fixed-top sticky nav1" (window:scroll)="windowScroll()" id="navbar">
    <div class="container">
        <a class="navbar-logo" routerLink="/">
            <img src="assets/images/logo-dark.png" alt="" height="19" class="logo logo-dark">
            <img src="assets/images/logo-light.png" alt="" height="19" class="logo logo-light">
        </a>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-toggle="collapse"
            data-target="#topnav-menu-content" (click)="toggleMenu()">
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse " id="topnav-menu-content">
            <ul class="navbar-nav ms-auto" id="topnav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);"
                        [ngClass]="{'active':currentSection === 'profile'}">Profile</a>
                </li>
                <li class="nav-item">
                    <a (click)="navagatToDocuments(exitProcessId)" class="nav-link" href="javascript: void(0);"
                        [ngClass]="{'active':currentSection === 'documents'}">Documents</a>
                </li>
            </ul>

            <div class="my-2 ms-lg-2">
                <a (click)="logout()" class="btn btn-outline-success w-xs">Sign Out</a>
            </div>
           
        </div>
    </div>
</nav>
<section class="section bg-white" id="documents">
    <div class="container">
      <div class="row">
        
        <div class="col-xl-7">
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title mb-4">Personal Information</h4>
                <div class="col-sm-4">
                    <div class="avatar-md profile-user-wid mb-4 mt-4">
                      <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                    </div>
                    <h5 class="font-size-15 text-truncate">{{employeeDetails?.basicDetails?.firstName}}
                        {{employeeDetails?.basicDetails?.lastName}}</h5>
                    <p class="text-muted mb-3 text-truncate">{{employeeDetails?.basicDetails?.designation.title}}</p>
                  </div>
                <!-- <p class="text-muted mb-4">Hi I'm Cynthia Price,has been the industry's standard dummy text To an English
                  person, it will seem like simplified English, as a skeptical Cambridge.</p> -->
             
                <div class="table-responsive">
                  <table class="table table-nowrap mb-0">
                    <tbody>
                      <tr>
                        <th scope="row">Full Name :</th>
                        <td>{{employeeDetails?.basicDetails?.firstName}}
                            {{employeeDetails?.basicDetails?.lastName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Employee ID  :</th>
                        <td>{{employeeDetails?.basicDetails?.employeeCode}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Mobile :</th>
                        <td> {{employeeDetails?.basicDetails?.mobileNo}}</td>
                      </tr>
                      <tr>
                        <th scope="row">E-mail :</th>
                        <td> {{employeeDetails?.basicDetails?.email}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Department :</th>
                        <td> {{employeeDetails?.basicDetails?.department.departmentName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Gender :</th>
                        <td>  {{employeeDetails?.basicDetails?.gender}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Joining Date :</th>
                        <td>  {{employeeDetails?.basicDetails?.dateOfJoining | date:'dd-MM-yyyy'}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Last Working Date :</th>
                        <td>  {{employeeDetails?.lastWorkingDate | date:'dd-MM-yyyy'}}</td>
                      </tr>
                      <tr>
                        <th scope="row"> Work Location :</th>
                        <td>{{employeeDetails?.basicDetails?.workLocation.workLocationName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->

          </div>
          <div class="col-xl-5">
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title mb-4 mt-4">Bank Details</h4>
               
                <div class="table-responsive">
                  <table class="table table-nowrap mb-0">
                  
                    <tbody>
                      <tr>
                        <th scope="row">Account Holder Name :</th>
                        <td> {{employeeDetails?.bankDetails?.accountHolderName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Account Number  :</th>
                        <td> {{employeeDetails?.bankDetails?.accountNumber}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Account Type :</th>
                        <td> {{employeeDetails?.bankDetails?.accountType}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Bank Name :</th>
                        <td>  {{employeeDetails?.bankDetails?.bankName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">IFSC Code :</th>
                        <td> {{employeeDetails?.bankDetails?.ifscCode}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->

          </div>
       

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  
  
  

<!-- Documents end -->
<!-- Footer start -->
<footer class="landing-footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Company</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="javascript: void(0);">About Us</a></li>
                        <li><a href="javascript: void(0);">Features</a></li>
                        <li><a href="javascript: void(0);">Team</a></li>
                        <li><a href="javascript: void(0);">News</a></li>
                        <li><a href="javascript: void(0);">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Resources</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="javascript: void(0);">Whitepaper</a></li>
                        <li><a href="javascript: void(0);">Token sales</a></li>
                        <li><a href="javascript: void(0);">Privacy Policy</a></li>
                        <li><a href="javascript: void(0);">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Links</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="javascript: void(0);">Tokens</a></li>
                        <li><a href="javascript: void(0);">Roadmap</a></li>
                        <li><a href="javascript: void(0);">FAQs</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Latest News</h5>
                    <div class="blog-post">
                        <a href="javascript: void(0);" class="post">
                            <div class="badge badge-soft-success font-size-11 mb-3">Cryptocurrency</div>
                            <h5 class="post-title">Donec pede justo aliquet nec</h5>
                            <p class="mb-0"><i class="bx bx-calendar me-1"></i> 04 Mar, 2020</p>
                        </a>
                        <a href="javascript: void(0);" class="post">
                            <div class="badge badge-soft-success font-size-11 mb-3">Cryptocurrency</div>
                            <h5 class="post-title">In turpis, Pellentesque</h5>
                            <p class="mb-0"><i class="bx bx-calendar me-1"></i> 12 Mar, 2020</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <hr class="footer-border my-5">

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <img src="assets/images/logo-light.png" alt="" height="20">
                </div>

                <p class="mb-2">{{year}} © Skote. Design & Develop by Themesbrand</p>
                <p>It will be as simple as occidental in fact, it will be to an english person, it will seem like
                    simplified English, as a skeptical</p>
            </div>

        </div>
    </div>
    <!-- end container -->
</footer>
<!-- Footer end -->
