<div class="container-fluid">
  <app-page-title title="Company Details" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-6" *ngIf="!isEditMode">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body border-bottom">
              <div>
                <h6 class="card-title">Organisation Details</h6>
                <p class="card-title-desc mb-0">
                  The details for your organisation.
                </p>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 mt-3">
                  <div>
                    <div class="rounded-circle border chart-letter"
                      *ngIf="!organisationCompanyData.organisationDetails.image">
                      {{ organisationCompanyData.organisationDetails.organisationName?.charAt(0) }}
                    </div>
                    <img [src]="organisationCompanyData.organisationDetails.image" alt="profileUpload"
                      class="rounded-circle border" width="60" height="60"
                      *ngIf="organisationCompanyData.organisationDetails.image" />
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div>
                    <h6>Compnay Name</h6>
                    <span>{{organisationCompanyData.organisationDetails.organisationName || 'N/A'}}</span>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <h6>Address</h6>
                  <span>{{organisationCompanyData.organisationDetails.address1 || 'N/A'}}</span>
                  <span>{{organisationCompanyData.organisationDetails.address2 || 'N/A'}}</span>
                </div>
                <div class="col-12 mt-3">
                  <h6>Country</h6>
                  <span>{{organisationCompanyData.organisationDetails.country || 'N/A'}}</span>
                </div>
                <div class="col-12 mt-3">
                  <h6>State</h6>
                  <span>{{organisationCompanyData.organisationDetails.state.name || 'N/A'}}</span>
                </div>
                <div class="col-12 mt-3">
                  <h6>City</h6>
                  <span>{{organisationCompanyData.organisationDetails.city.name || 'N/A'}}</span>
                </div>
                <div class="col-12 mt-3">
                  <h6>Pincode</h6>
                  <span>{{organisationCompanyData.organisationDetails.pincode || 'N/A'}}</span>
                </div>
                <div class="col-12 mt-3">
                  <button type="button" class="btn btn-primary" (click)="toggleEditMode()">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="isEditMode">
      <form [formGroup]="organisationForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body border-bottom">
                <div>
                  <h6 class="card-title">Organisation Details</h6>
                  <p class="card-title-desc mb-0">
                    Enter the details for your organisation.
                  </p>
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-12 mt-3">
                    <label for="organisationName" class="col-form-label">Organisation Name<span
                        class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" placeholder="Eg. ABC Pvt. Ltd."
                        formControlName="organisationName" minlength="3" maxlength="50">
                      <div
                        *ngIf="organisationForm.get('organisationName').invalid && (organisationForm.get('organisationName').dirty || organisationForm.get('organisationName').touched)"
                        class="text-danger">
                        <div *ngIf="organisationForm.get('organisationName').errors.required">
                          Organisation Name is required.
                        </div>
                        <div *ngIf="organisationForm.get('organisationName').errors.minlength">
                          Organisation Name must be at least 3 characters.
                        </div>
                        <div *ngIf="organisationForm.get('organisationName').errors.maxlength">
                          Organisation Name must be less than 50 characters.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <label for="industry" class="col-form-label">Industry<span class="asterisk">*</span></label>
                    <div>
                      <select class="form-control" formControlName="industry">
                        <option value="" disabled selected>Select Industry</option>
                        <option *ngFor="let industry of industryTypeDate" [value]="industry.value">{{ industry.title }}
                        </option>
                      </select>
                      <div
                        *ngIf="organisationForm.get('industry').invalid && (organisationForm.get('industry').dirty || organisationForm.get('industry').touched)"
                        class="text-danger">
                        <div *ngIf="organisationForm.get('industry').errors.required">
                          Industry Type is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <label for="address1" class="col-form-label">Address Line 1<span class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" placeholder="Address Line 1" formControlName="address1"
                        required>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <label for="address2" class="col-form-label">Address Line 2<span class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" placeholder="Address Line 2" formControlName="address2"
                        required>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <label for="projectname" class="col-form-label">Country<span class="asterisk">*</span></label>
                    <input class="form-control" name="country" type="text" readonly formControlName="country"
                      (change)="onCountryChange()" />
                    <div>
                      <div
                        *ngIf="organisationForm.get('country').invalid && (organisationForm.get('country').dirty || organisationForm.get('country').touched)"
                        class="text-danger">
                        <div *ngIf="organisationForm.get('country').errors.required">
                          Country is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="states" class="col-6 mt-3">
                    <label for="state" class="col-form-label">State<span class="asterisk">*</span></label>
                    <ng-select [searchable]="false" [items]="states" bindLabel="name" bindValue="isoCode"
                      [multiple]="false" placeholder="Select your state" formControlName="state"
                      [compareWith]="compareState" (change)="onStateChange($event)" [clearable]="false">
                    </ng-select>
                    <div
                      *ngIf="organisationForm.get('state').invalid && (organisationForm.get('state').dirty || organisationForm.get('state').touched)"
                      class="text-danger">
                      <div *ngIf="organisationForm.get('state').errors.required">
                        State is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <label for="city" class="col-form-label">City<span class="asterisk">*</span></label>
                    <ng-select [searchable]="false" [items]="cities" bindLabel="name" bindValue="name"
                      [multiple]="false" placeholder="Select your city" formControlName="city"
                      [compareWith]="compareCity" (change)="onCityChange($event)" [clearable]="false"
                      [disabled]="!cities">
                    </ng-select>
                    <div
                      *ngIf="organisationForm.get('city').invalid && (organisationForm.get('city').dirty || organisationForm.get('city').touched)"
                      class="text-danger">
                      <div *ngIf="organisationForm.get('city').errors.required">
                        City is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <label for="pincode" class="col-form-label">Pincode<span class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" placeholder="Pincode" formControlName="pincode"
                        pattern="^[1-9][0-9]{5}$" required>
                      <div
                        *ngIf="organisationForm.get('pincode').invalid && (organisationForm.get('pincode').dirty || organisationForm.get('pincode').touched)"
                        class="text-danger">
                        <div *ngIf="organisationForm.get('pincode').errors.required">
                          Pincode is required.
                        </div>
                        <div *ngIf="organisationForm.get('pincode').errors.pattern">
                          Enter a valid Pincode.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    <label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Organisation Logo</label>
                    <div class="input-group">
                      <input type="text" class="form-control" [value]="selectedFile?.name || 'Choose a file...'"
                        readonly />
                      <input type="file" class="form-control" (change)="uploadLogo($event)" style="display:none"
                        #fileInput />
                      <button type="button" class="btn btn-outline-primary" (click)="fileInput.click()">Browse</button>
                    </div>
                    <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
                    <div class="upload-image-container" style="margin-top: 20px;">
                      <img *ngIf="image" style="width: 150px; height: 150px;" [src]="image" alt="Uploaded Image"
                        class="uploaded-image">
                      <img *ngIf="!image" src="https://via.placeholder.com/150" alt="Placeholder Image"
                        class="placeholder-image">

                      <div *ngIf="fileError" class="error-message">{{ fileError }}</div>
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary" [disabled]="organisationForm.invalid">
                      Update
                    </button>
                    <button style="margin-left: 15px;" type="button" class="btn btn-secondary"
                      (click)="goBack()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
