<div class="container why-us my-2">
  <div class="container section-title" data-aos="fade-up">
    <h2>Select Menu Category</h2>
    <p><span>Your</span> <span class="description-title">Choice ?</span></p>
  </div>

  <div class="row" (click)="goToVegList()">
    <div class="col-md-4 mb-4">
      <div class=" rounded-4 shadow-sm" style="background-color: #fffaf0;">
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-4">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center"
                style="background-color: #fffaf0; border: none;">
                <i class="bi bi-emoji-smile text-success" style="font-size: 48px;"></i>
                <h4>Veg Menu</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" (click)="goToNonVegList()">
    <div class="col-md-4 mb-4">
      <div class=" rounded-4 shadow-sm" style="background-color: #fffaf0;">
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-4">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center"
                style="background-color: #fffaf0; border: none;">
                <i class="bi bi-emoji-laughing text-danger" style="font-size: 48px;"></i>
                <h4>Non Veg Menu</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
