<div class="container-fluid">
    <app-page-title title="Polls List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-body border-bottom">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 card-title flex-grow-1">News Polls List</h5>
                            <div class="flex-shrink-0 d-flex gap-1">

                                <div class="col-xxl-4 col-lg-6">
                                    <input type="search" class="form-control" id="searchInput"
                                        placeholder="Search by Title" [(ngModel)]="searchTitle" (input)="filterPolls()">
                                </div>
                                <a href="javascript:void(0);" class="btn btn-primary" (click)="addNewPoll()">Add New
                                    Polls</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date & Time</th>
                                    <th>End Date & Time</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let poll of filteredPollsData; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ poll?.title }}</td>
                                    <td>{{ poll?.description }}</td>
                                    <td>{{ poll?.startDateTime | date: 'dd MMM, yyyy HH:mm' }}</td>
                                    <td>{{ poll?.endDateTime | date: 'dd MMM, yyyy HH:mm' }}</td>
                                    <!-- <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">

                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                <a href="javascript:void(0);" class="btn btn-sm btn-soft-info"
                                                    (click)="goToEdit(poll?.id)">
                                                    <i class="mdi mdi-pencil-outline"></i>
                                                </a>
                                            </li>

                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                <a href="javascript:void(0);" class="btn btn-sm btn-soft-danger"
                                                    (click)="deletePolls(poll?.id)">
                                                    <i class="mdi mdi-delete-outline"></i>
                                                </a>
                                            </li>
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary"
                                                    (click)="viewPoll(poll?.id)">
                                                    <i class="mdi mdi-eye-outline"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td> -->
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                          <li href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a (click)="viewPoll(poll?.id)"
                                              class="btn btn-sm btn-primary d-flex align-items-center p-2"><i
                                                class="bx bx-right-top-arrow-circle"></i></a>
                                          </li>
                                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                            <a href="javascript:void(0);"  (click)="goToEdit(poll?.id)"
                                              class="btn btn-sm btn-dark  d-flex align-items-center p-2"><i class="bx bx-cog"></i></a>
                                          </li>
                                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" (click)="deletePolls(poll?.id)"
                                              class="btn btn-sm btn-danger  d-flex align-items-center p-2"><i class="bx bx-trash-alt"></i></a>
                                          </li>
                                        </ul>
                                      </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
