<div class="container-fluid">
  <app-page-title title="Shift List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card banner-left">
        <div class="card-body">
          <h4 class="card-title mb-4">Work Schedule Overview</h4>
          <button class="btn btn-light btn-rounded btn-sm banner-close">
            <i class="bx bx-plus font-size-16"></i>
          </button>
          <div class="hori-timeline">
            <ngx-slick-carousel dir="ltr" [config]="slideConfig" class="events navs-carousel mb-3">
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Morning Shift</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">
                        Time: 7:00 AM - 3:00 PM<br>
                        Responsibilities: Monitor daily operations, team check-ins, and task delegation.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Night Shift</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">
                        Time: 11:00 PM - 7:00 AM<br>
                        Responsibilities: Security monitoring, system updates, and preparation for the morning team.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">

    <div class="card-body border-bottom d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-2 card-title flex-grow-1">Shift List</h5>
        <p class="mb-0 font-size-12 text-muted">
          View the detailed schedule and responsibilities for each shift to ensure smooth operations across all teams.
        </p>
      </div>
      <div class="">
        <button class="btn btn-primary" (click)="router.navigate(['shift/create-shift'])">Create Shift</button>
      </div>
    </div>

    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-4">
          <div class="row justify-content-between">
            <div class="col">
              <input type="text" class="form-control" id="searchInput" [(ngModel)]="filterBy" (keyup)="filter()"
                placeholder="Eg. Morning shift ">
            </div>
            <div class="col">
              <select class="form-control" [(ngModel)]="selectedDepartment" (change)="applyFilters()">
                <option *ngFor="let department of departments" [value]="department.value">
                  {{ department.label }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body border-bottom pb-0" *ngIf="displayedShifts?.length > 0">
      <div class="table-responsive">
        <table class="table  align-middle nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">Shift Name</th>
              <th scope="col">From Time</th>
              <th scope="col">To Time</th>
              <th scope="col">Departments</th>
              <th scope="col">Rate per Day</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of displayedShifts">
              <td>{{ item?.shiftName | titlecase | slice:0:30 }}</td>
              <td>{{ item?.fromTime ? (convertToDate(item?.fromTime) | date:'hh:mm a') : 'N/A' }}</td>
              <td>{{ item?.toTime ? (convertToDate(item?.toTime) | date:'hh:mm a') : 'N/A' }}</td>
              <td>{{ item?.departments | titlecase | slice:0:30 }}</td>
              <td>{{ item?.ratePerDay || 'N/A' }}</td>
              <td>
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                    <a (click)="centerModal(centerDataModal, item)"
                      class="btn btn-sm btn-primary d-flex align-items-center p-2"><i
                        class="bx bx-right-top-arrow-circle"></i></a>
                  </li>
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                    <a href="javascript:void(0);" (click)="onEdit(item?.id)"
                      class="btn btn-sm btn-dark  d-flex align-items-center p-2"><i class="bx bx-cog"></i></a>
                  </li>
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                    <a href="javascript:void(0);" data-bs-toggle="modal" (click)="deleteShift(item?.id)"
                      class="btn btn-sm btn-danger  d-flex align-items-center p-2"><i class="bx bx-trash-alt"></i></a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="row justify-content-between align-items-center mt-3" *ngIf="displayedShifts?.length > 0">
        <div class="col-12 col-md-4">
          <div>
            <span>Showing <strong> {{ offset + 1 }} - {{ (offset + limit) < totalRecord ? (offset + limit) : totalRecord
                  }} </strong> of <strong>{{ totalRecord }}</strong> records</span>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-md-end">
            <nav aria-label="Page navigation" class="d-flex align-items-center">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="offset === 0">
                  <a class="page-link" (click)="previousPage()" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()"
                  [class.active]="pageNumber === currentPage">
                  <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item" [class.disabled]="offset + limit >= totalRecord">
                  <a class="page-link ms-2" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="displayedShifts?.length == 0" class="card mt-5 py-5">
      <div class="card-body text-center">
        <i class="bx bx-box text-primary h2 mb-4"></i>
        <p class="text-muted">
          There are no shift available.
        </p>
        <div class="btn btn-sm btn-primary" (click)="CreateShift()">
          Create Shift
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="align-items-center">Shift Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body">

          <h5 class="font-size-15 mt-4">Shift Name</h5>
          <p class="text-muted">
            {{ shiftListDetails?.shiftName || '--'}}
          </p>

          <div class="row">
            <div class="col-6">
              <h5 class="font-size-15 mt-4">From Time</h5>
              <p class="text-muted description">
                {{ shiftListDetails?.fromTime || '--' }}
              </p>
            </div>
            <div class="col-6">
              <h5 class="font-size-15 mt-4">To Time</h5>
              <p class="text-muted description">
                {{ shiftListDetails?.toTime || '--' }}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <h5 class="font-size-15 mt-4">Shift Start</h5>
              <p class="text-muted description">
                {{shiftListDetails?.hoursBeforeShift || '--'}}
              </p>
            </div>
            <div class="col-6">
              <h5 class="font-size-15 mt-4">Shift End</h5>
              <p class="text-muted description">
                {{shiftListDetails?.hoursAfterShift || '--'}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h5 class="font-size-15 mt-4">Departments</h5>
              <p class="text-muted description">
                {{shiftListDetails?.departments || '--'}}
              </p>
            </div>
            <div class="col-6">
              <h5 class="font-size-15 mt-4">Rate per Day</h5>
              <p class="text-muted description">
                {{shiftListDetails?.ratePerDay || '--'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>