<div class="container-fluid">
    <app-page-title title="Reset Password" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-6  justify-content-center ">
            <div class="card banner-left">
                <div class="card-body">
                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3 col-12">
                            <label for="oldPassword" class="col-form-label">Old Password<span>*</span></label>
                            <div class="input-group auth-pass-inputgroup">
                                <input [type]="showOldPassword ? 'text' : 'password'" class="form-control"
                                    formControlName="oldPwd" id="oldPassword"
                                    [ngClass]="{ 'is-invalid': (resetForm.controls['oldPwd'].touched || resetForm.controls['oldPwd'].dirty) && resetForm.controls['oldPwd'].invalid }"
                                    placeholder="Enter old password">
                                <button class="btn btn-light" type="button" (click)="toggleOldPasswordVisibility()">
                                    <i class="fa" [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </button>
                                <div *ngIf="resetForm.controls['oldPwd'].touched && resetForm.controls['oldPwd'].hasError('required')"
                                    class="invalid-feedback">
                                    Please enter your old password.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 col-12">
                            <label for="newPassword" class="col-form-label">New Password<span>*</span></label>
                            <div class="input-group auth-pass-inputgroup">
                                <input [type]="showNewPassword ? 'text' : 'password'" class="form-control"
                                    formControlName="newPwd" id="newPassword"
                                    [ngClass]="{ 'is-invalid': (resetForm.controls['newPwd'].touched || resetForm.controls['newPwd'].dirty) && resetForm.controls['newPwd'].invalid }"
                                    placeholder="Enter new password">
                                <button class="btn btn-light" type="button" (click)="toggleNewPasswordVisibility()">
                                    <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </button>
                                <div *ngIf="resetForm.controls['newPwd'].touched && resetForm.controls['newPwd'].errors"
                                    class="invalid-feedback">
                                    <span *ngIf="resetForm.controls['newPwd'].hasError('required')">Please enter a new
                                        password.</span>
                                    <span *ngIf="resetForm.controls['newPwd'].hasError('minlength')">Password must be at
                                        least 8 characters.</span>
                                    <span *ngIf="resetForm.controls['newPwd'].hasError('pattern')">
                                        Password must include uppercase, lowercase, number, and special character.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 col-12">
                            <label for="confirmPassword" class="col-form-label">Confirm Password<span>*</span></label>
                            <input type="password" class="form-control" formControlName="confirmPwd"
                                id="confirmPassword"
                                [ngClass]="{ 'is-invalid': (resetForm.controls['confirmPwd'].touched || resetForm.controls['confirmPwd'].dirty) && resetForm.controls['confirmPwd'].invalid }"
                                placeholder="Confirm new password">
                            <div *ngIf="resetForm.controls['confirmPwd'].touched && resetForm.controls['confirmPwd'].errors"
                                class="invalid-feedback">
                                <span *ngIf="resetForm.controls['confirmPwd'].hasError('required')">Please confirm your
                                    password.</span>
                                <span *ngIf="resetForm.controls['confirmPwd'].hasError('mustMatch')">Passwords do not
                                    match.</span>
                            </div>
                        </div>

                    </form>
                    <div class="footer-btn">
                        <button type="button" class="btn btn-primary w-100" (click)="onSubmit()"
                            [disabled]="resetForm.invalid || pwdError">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>