<div class="container-fluid">
  <app-page-title title="Employees Dashboard" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-2">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Total Employee</p>
              <h5 class="mb-0">{{statusCount?.totalCount}}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Active Employee</p>
              <h5 class="mb-0">{{statusCount?.activeCount}}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-success font-size-20">
                <i class="bx bxs-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Inactive Employee</p>
              <h5 class="mb-0">{{statusCount?.inactiveCount}}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-danger font-size-20">
                <i class="bx bxs-x-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Contractor</p>
              <h5 class="mb-0">{{employeeTypeCount[1].count}}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-warning font-size-20">
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">On Roll</p>
              <h5 class="mb-0">{{employeeTypeCount[0].count}}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-warning font-size-20">
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Probation</p>
              <h5 class="mb-0">--</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div class="avatar-title bg-light rounded-circle text-warning font-size-20">
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <div style="display: flex; justify-content: space-between">
            <div>
              <h4 class="card-title mb-4">Employee Distribution by Department</h4>
              <p>Department-wise Employee Count</p>
            </div>
            <div>
              <h4 class="card-title mb-4">Total Employees : {{ this.totalEmployee || 0 }}</h4>
              <h4 class="card-title mb-4">Total Departments : {{ this.employeeDepartmentCount.length || 0 }}</h4>
            </div>
          </div>
          <apx-chart class="apex-charts" dir="ltr" [series]="departmentChart.series" [chart]="departmentChart.chart"
            [plotOptions]="departmentChart.plotOptions" [dataLabels]="departmentChart.dataLabels"
            [xaxis]="departmentChart.xaxis" [colors]="departmentChart.colors" [grid]="departmentChart.grid"
            [tooltip]="departmentChart.tooltip">
          </apx-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Employee Type Chart</h4>
          <apx-chart class="apex-charts" dir="ltr" [series]="employeeTypeChart.series" [chart]="employeeTypeChart.chart"
            [labels]="employeeTypeChart.labels" [legend]="employeeTypeChart.legend" [colors]="employeeTypeChart.colors"
            [responsive]="employeeTypeChart.responsive">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Work Location Chart</h4>
          <apx-chart class="apex-charts" dir="ltr" [series]="workLocationChart.series" [chart]="workLocationChart.chart"
            [labels]="workLocationChart.labels" [legend]="workLocationChart.legend" [colors]="workLocationChart.colors"
            [responsive]="workLocationChart.responsive">
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Monthly joining count chart</h4>
          <apx-chart class="apex-charts" dir="ltr" [series]="inMonthCount.series" [chart]="inMonthCount.chart"
            [colors]="inMonthCount.colors" [stroke]="inMonthCount.stroke" [dataLabels]="inMonthCount.dataLabels"
            [title]="inMonthCount.title" [responsive]="inMonthCount.responsive" [legend]="inMonthCount.legend"
            [xaxis]="inMonthCount.xaxis" [yaxis]="inMonthCount.yaxis" [stroke]="inMonthCount.stroke"
            [markers]="inMonthCount.markers">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">In Notice Period Employee List</h4>

          <!-- New container div with scrollable functionality -->
          <div class="scrollable-container" style="max-height: 400px; overflow-y: auto;">
            <div class="bg-light p-3 d-flex mb-3 rounded" *ngFor="let item of exitListData">
              <div class="avatar-sm rounded me-3 chart-letter" *ngIf="!item?.basicDetails?.image">
                {{ item?.basicDetails?.firstName?.charAt(0) }}
              </div>
              <img [src]="item?.basicDetails?.image" alt="" class="avatar-sm rounded me-3"
                *ngIf="item?.basicDetails?.image">
              <div class="flex-grow-1">
                <h5 class="font-size-15 mb-2"><a routerLink="/jobs/candidate-overview"
                    class="text-body">{{item?.basicDetails?.firstName}} {{item?.basicDetails?.lastName}} /
                    {{item?.basicDetails?.employeeCode}}</a></h5>
                <p class="mb-0 text-muted">{{item?.basicDetails?.department.departmentName}}</p>
                <p class="mb-0 text-muted">{{item?.basicDetails?.designation.title}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body border-bottom d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-2 card-title flex-grow-1">Employee List</h5>
            <p class="mb-0 font-size-12 text-muted">
              The direction is great. Octavia Spencer had a show on Apple TV+, but Apple canceled it in the spring.
            </p>
          </div>
          <div class="">
            <button class="btn btn-primary" (click)="goToAllEmployees()">View All Employees</button>
          </div>
        </div>

        <div class="spinnerv2 mt-5 pt-5" *ngIf="filteredEmployeeList?.length == 0">
          <span class="loader"></span>
        </div>

        <div class="card-body border-bottom pb-0" *ngIf="filteredEmployeeList?.length > 0">
          <div class="table-responsive">
            <table class="table  align-middle nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Employee Department</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile Number</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredEmployeeList; index as i">
                  <td>{{ item?.basicDetails?.employeeCode || '--' }}</td>

                  <td>
                    <div style="display: flex; justify-content: left; align-items: center;">
                      <div>
                        <div class="avatar-xs" style="width: 35px; height: 35px;" *ngIf="!item?.basicDetails?.image">
                          <span class="avatar-title rounded-circle">
                            {{item?.basicDetails?.firstName.charAt(0)}}
                          </span>
                        </div>
                        <div *ngIf="item?.basicDetails?.image">
                          <img class="rounded-circle avatar-xs" src="{{item?.basicDetails?.image}}" alt="">
                        </div>
                      </div>
                      <div style="margin: 15px;">
                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{
                            item?.basicDetails?.firstName || '--' }} {{ item?.basicDetails?.lastName || '--' }}</a>
                        </h5>
                        <p class="text-muted mb-0">{{item?.basicDetails?.designation.title || '--'}}</p>
                      </div>
                    </div>
                  </td>

                  <td>{{ item?.basicDetails?.department.departmentName || '--' }}</td>
                  <td>{{ item?.basicDetails?.email || '--' }}</td>
                  <td>{{ item?.basicDetails?.mobileNo || '--' }}</td>
                  <td><span class="badge"
                      [ngClass]="{ 'bg-success': item.status === 'active', 'bg-info': item.status === 'completed', 'bg-danger': item.status === 'inactive'}">{{item.status}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
