<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-body border-bottom">
            <div class="d-flex align-items-center">

              <h5 class="mb-0 card-title flex-grow-1">Holiday List</h5>
              <div class="flex-shrink-0 d-flex gap-1">

                <div class="col-xxl-4 col-lg-6">
                  <input type="search" class="form-control" id="searchInput" placeholder="Search by Title"
                    [(ngModel)]="searchTitle" (input)="filterHolidays()">
                </div>

                <div class="col-xxl-4 col-lg-6">
                  <ng-select [items]="states" bindLabel="name" bindValue="name" [(ngModel)]="selectedState"
                    (change)="filterByState()">
                  </ng-select>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary" (click)="holiday()">Add New Holidays</a>
                <div class="dropdown d-inline-block" ngbDropdown>
                  <button type="menu" class="btn btn-success" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false" ngbDropdownToggle><i class="mdi mdi-dots-vertical"></i></button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" ngbDropdownMenu>
                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">State</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let holiday of filteredHolidayData; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ holiday.state }}</td>
                <td>{{ holiday.startDate }}</td>
                <td>{{ holiday.endDate }}</td>
                <td>{{ holiday.title }}</td>
                <td>{{ holiday.description }}</td>

                <td>
                  <ul class="list-unstyled hstack gap-1 mb-0">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                      <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="goToEdit(holiday.id)">
                        <i class="mdi mdi-pencil-outline"></i>
                      </a>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                      <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"
                        (click)="deleteHoliday(holiday.id)">
                        <i class="mdi mdi-delete-outline"></i>
                      </a>
                    </li>
                  </ul>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>