<div class="container-fluid">
  <app-page-title title="Employee Attendance" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card banner-left">
        <div class="card-body">
          <button class="btn btn-light btn-rounded btn-sm banner-close">
            <i class="bx bx-plus font-size-16"></i>
          </button>
          <div class="hori-timeline">
            <ngx-slick-carousel dir="ltr" [config]="slideConfig" class="events navs-carousel mb-3">
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Attendance</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">The direction is great. Octavia Spencer had a show on Apple TV+,
                        but Apple canceled it in the spring.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Attendance</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">The direction is great. Octavia Spencer had a show on Apple TV+,
                        but Apple canceled it in the spring.</p>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">

    <div class="card-body border-bottom d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-2 card-title flex-grow-1">My Attendance</h5>
        <p class="mb-0 font-size-12 text-muted">
          The direction is great. Octavia Spencer had a show on Apple TV+, but Apple canceled it in the spring.
        </p>
      </div>
    </div>

    <div class="card-body pb-0" >
      <div class="row justify-content-end">
        <!-- <div class="col-3 col-lg-3">
          <label class="col-form-label">Search Employee</label>
          <input type="text" class="form-control" id="searchInput" [(ngModel)]="filterBy"
            (ngModelChange)="filter()" placeholder="Eg. William Anderson" />
        </div> -->
          <!-- Department -->
          <!-- <div class="col-3 col-lg-3">
            <label class="col-form-label">Department</label>
            <ng-select [items]="departmentList" bindLabel="name" [(ngModel)]="filterByDepartment"
              (change)="filter()" placeholder="Select Department" [clearable]="false">
              <ng-template ng-label-tmp let-item="item">
                {{ 'Select' }}
              </ng-template>
            </ng-select>
          </div> -->
          <div class="col-3 col-lg-3">
            <label class="col-form-label">Select Employee</label>
            <ng-select placeholder="Select Employee" id="employeeSelect" [(ngModel)]="filterByName"
              (change)="onEmployeeSelect()" [clearable]="false">
              <ng-option [value]="'all'">
                All Employee
              </ng-option>
              <ng-option id="employeeSelect" *ngFor="let employee of employeeData" [value]="employee.id">
                {{ employee.basicDetails.firstName || 'Select' }} {{ employee.basicDetails.lastName || 'Select' }}
              </ng-option>
            </ng-select>
          </div>
        <div class="col-3 col-lg-3">
          <div class="row justify-content-between">
            <div class="col">
              <label class="col-form-label">Month/Year</label>
              <input class="form-control" type="month" [(ngModel)]="month" (change)="onMonthChange()" id="example-month-input">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body border-bottom pb-0" *ngIf="attendanceList?.length > 0">
      <div class="table-responsive">
        <table class="table  align-middle nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Emp Name</th>
              <th scope="col">Total Day's In Month</th>
              <th scope="col">Holiday</th>
              <th scope="col">Total Work Day's</th>
              <th scope="col">Present</th>
              <th scope="col">Absent</th>
              <th scope="col">Half Day</th>
              <th scope="col">Attendance</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
         
            <tr *ngFor="let attendance of attendanceList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ attendance.empName }}</td>
            <td>{{ attendance.totalDays }}</td>
            <td>{{ attendance.holidayCount }}</td>
            <td>{{ attendance.totalWorkDays }}</td>
            <td>{{ getStatusCount(attendance.dailyAttendance, 'Present') }}</td>
      <td>{{ getStatusCount(attendance.dailyAttendance, 'Absent') }}</td>
      <td>{{ getStatusCount(attendance.dailyAttendance, 'Half Day') }}</td>

            <td>{{ attendance.attendancePercentage }}</td>
              <td>
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                    <a   (click)="navigateToAttendanceDetails(attendance?.userId)" class="btn btn-sm btn-primary d-flex align-items-center p-2"><i
                        class="bx bx-right-top-arrow-circle"></i></a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row justify-content-between align-items-center mt-3"*ngIf="totalRecord > limit">
        <div class="col-12 col-md-4">
          <div>
            <span>Showing <strong> {{ offset + 1 }} - {{ (offset + limit) < totalRecord ? (offset + limit) : totalRecord
                  }} </strong> of <strong>{{ totalRecord }}</strong> records</span>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-md-end">
            <nav aria-label="Page navigation" class="d-flex align-items-center">
              <!-- <select id="pageSizeSelect" [(ngModel)]="limit" class="mb-3">
                <option value="10">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> -->
              <ul class="pagination">
                <li class="page-item" [class.disabled]="offset === 0">
                  <a class="page-link" (click)="previousPage()" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()"
                  [class.active]="pageNumber === currentPage">
                  <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item" [class.disabled]="offset + limit >= totalRecord">
                  <a class="page-link ms-2" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="attendanceList?.length == 0" class="card mt-5 py-5">
      <div class="card-body text-center">
        <i class="bx bx-box text-primary h2 mb-4"></i>
        <p class="text-muted">
          There are no attendance available.
        </p>
      </div>
    </div>
  </div>
</div>

