<div class="container-fluid">
  <app-page-title title="Attendance Dashboard" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-3 col-lg-3">
          <div class="row justify-content-between">
            <div class="col">
              <input class="form-control" type="month" [(ngModel)]="month" (change)="onMonthChange()"
                id="example-month-input">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <p class="text-muted mb-2">Total Employee</p>
                  <h5 class="mb-0">{{ totalEmployees }}</h5> <!-- Bind totalEmployees here -->
                </div>
                <div class="avatar-sm ms-auto">
                  <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                    <i class="bx bxs-book-bookmark"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card blog-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="me-3">
                  <p class="text-muted mb-2">Total Attendance</p>
                  <h5 class="mb-0">{{ attendancePercentage.toFixed(2) }}%</h5>
                  <!-- Bind the attendancePercentage with two decimal points -->
                </div>
                <div class="avatar-sm ms-auto">
                  <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                    <i class="bx bxs-note"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card blog-stats-wid">
          <div class="card-body">
            <div class="d-flex flex-wrap">
              <div style="flex-grow: 1;">
                <h4 class="card-title mb-4">Monthly Attendance for Year {{ selectedYear }}</h4>
              </div>
              <div class="ms-auto">
                <p class="text-muted mb-2">Select Year</p>
                <select class="form-select" [(ngModel)]="selectedYear" (change)="onYearChange()">
                  <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                </select>
              </div>
            </div>

            <apx-chart class="apex-charts" dir="ltr" [series]="attendanceChart.series" [chart]="attendanceChart.chart"
              [plotOptions]="attendanceChart.plotOptions" [dataLabels]="attendanceChart.dataLabels"
              [xaxis]="attendanceChart.xaxis" [yaxis]="attendanceChart.yaxis" [tooltip]="attendanceChart.tooltip">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>