/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
@import '~dropzone/dist/min/dropzone.min.css';

.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

ngx-dropzone {
  border: 2px dashed var(--bs-border-color) !important;
}




//
// Dropzone
//

.dropzone {
  min-height: 230px !important;
  border: 2px dashed #eff2f7 !important;
  background: #fff !important;
  border-radius: 6px !important;
  text-align: center;

  .dz-message {
    width: 100%;
    margin: 1em 0;
  }
}

[data-dz-thumbnail] {
  width: 100%;
  height: 100%;
}

.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone .dz-preview .dz-image img {
  display: block;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone .dz-preview .dz-remove {
  margin-top: 10px;
}

dropzone>.dropzone.dz-wrapper .dz-message {
  background-color: transparent !important;
  border: none !important;
  overflow: inherit !important;
  width: inherit !important;
  min-width: inherit !important;
  min-height: 180px !important;
  max-width: inherit !important;
  max-height: inherit !important;
  margin: 0px !important;
}

.dz-text {
  font-size: 1.21875rem
}

dropzone>.dropzone.dz-wrapper {
  min-height: 76px !important;
  border: none !important;
}


#component-colorpicker {

  color-picker {
    .open {
      right: 0px !important;
      left: auto !important;
      z-index: 9999 !important;
    }
  }
}

.color-picker {
  .arrow.arrow-bottom {
    right: 20px !important;
    left: auto !important;
  }
}

.switch.switch-small>.switch-pane>span {
  font-size: 12px !important;
}

.modal-dialog {
  top: auto !important;
  bottom: auto !important;
}

.slick-dots {
  margin-top: 20px;
  bottom: -40px !important;


  li.slick-active button:before {
    color: #556ee6 !important;
    font-size: x-small !important;
  }
}

.slick-dots li button:before {
  color: #556ee6;
  font-size: x-small !important;
}

.slick-slide img {
  width: 100%;
}

.dropup {
  .dropdown-menu {
    inset: auto auto auto 0px !important;
    transform: translateY(-160px) !important;
  }
}

.ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background-color: #556ee6 !important;
}



// Custom CSS
.form-control,
select,
.ng-select-container,
.ng-dropdown-panel {
  border-radius: 0.5rem !important;
  height: calc(1.5em + .75rem + 10px);
}

.ck-toolbar {
  border-radius: 0.5rem 0.5rem 0 0 !important;
  overflow: hidden;
}

.ck-content {
  border-radius: 0 0 0.5rem 0.5rem !important;
  overflow: hidden;
}

.btn {
  border-radius: 0.5rem !important;
  font-weight: 500 !important;
  height: 41px;
}

.vertical-menu {
  .mm-active .active {
    border-left: 3px solid var(--bs-primary);
  }

}

.wrapper{
  display: flex;
  justify-content: center;
}

input.otp-input {
  width: 40px !important;
  height: 40px !important;
  font-size: 20px !important;
}

.asterisk{
  color: var(--bs-dark) !important;
}


.slick-dots{
  display: none !important;
}

/* Add this to the existing CSS to prevent scrolling */
body.no-scroll {
  overflow: hidden; /* Disable scrolling */
}

.spinner-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* You can adjust height if needed */
}

.spinner-border {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.card{
  border-radius: 1rem;

  .card-title{
    font-size: 14px;
  }
  .card-title-desc {
    font-size: 12px;
  }
}

.table-responsive{
  .table-light{
    border-color: transparent !important;
    tr{
      th{
        color: var(--bs-dark);
        white-space: nowrap;
      }
      th:first-child{
        border-radius: 0.4rem 0 0 0.4rem;
      }
      th:last-child{
        border-radius: 0 0.4rem 0.4rem 0;
      }

    
    }

  }

  td{
    max-width: 400px;
    div{
      height: 40px;
      text-overflow: ellipsis;
    }
  }
}

.pagination{
  li:first-child{
    .page-link{
      border: none;
    }
  }
  li:last-child{
    .page-link{
      border: none;
    }
  }
  .page-link{
    border-radius: 0.5rem !important;
    cursor: pointer;
  }
}

.error{
  font-size: 12px !important;
}


// version2 spinners

.spinnerv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--bs-primary);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}


.fc .fc-button{
  border-radius: 0.75rem;
}
.fc-event{
  border-radius: 0.6rem;

  .event-duration{
    font-size: 12px !important;
    margin-top: 6px;
  }
  .event-title{
    font-size: 12px !important;
    font-weight: 500;
  }

}


.carousel-control-prev, .carousel-control-next{
  display: none;
}