 <!-- Why Us Section -->
 <section id="why-us" class="why-us section light-background">

  <div class="container">

    <div class="row gy-4">



      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-4">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard-data"></i>
              <h4>Nonveg Items</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>

  </div>

</section><!-- /Why Us Section -->
