<div class="container-fluid">
  <app-page-title
    title="Leaves List"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card banner-left">
        <div class="card-body">
          <h4 class="card-title mb-4">Horizontal Timeline</h4>
          <button class="btn btn-light btn-rounded btn-sm banner-close">
            <i class="bx bx-plus font-size-16"></i>
          </button>
          <div class="hori-timeline">
            <ngx-slick-carousel
              dir="ltr"
              [config]="slideConfig"
              class="events navs-carousel mb-3"
            >
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Create Leaves</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">
                        The direction is great. Octavia Spencer had a show on
                        Apple TV+, but Apple canceled it in the spring.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Create Leaves</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">
                        The direction is great. Octavia Spencer had a show on
                        Apple TV+, but Apple canceled it in the spring.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-lg-3">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Total Employees</p>
              <h5 class="mb-0">{{ empList?.length || "--" }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div
                class="avatar-title bg-light rounded-circle text-primary font-size-20"
              >
                <i class="bx bx-user"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Pending Approval</p>
              <h5 class="mb-0">{{ pendingLeaves || "--" }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div
                class="avatar-title bg-light rounded-circle text-warning font-size-20"
              >
                <i class="bx bxs-time"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Approved Leaves</p>
              <h5 class="mb-0">{{ approvedLeaves || "--" }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div
                class="avatar-title bg-light rounded-circle text-success font-size-20"
              >
                <i class="bx bxs-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card blog-stats-wid">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="mr-3">
              <p class="text-muted mb-2">Cancelled Leaves</p>
              <h5 class="mb-0">{{ rejectedLeaves || "--" }}</h5>
            </div>
            <div class="avatar-sm ms-auto">
              <div
                class="avatar-title bg-light rounded-circle text-danger font-size-20"
              >
                <i class="bx bxs-x-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div
      class="card-body border-bottom d-flex justify-content-between align-items-center"
    >
      <div>
        <h5 class="mb-2 card-title flex-grow-1">Employee Leaves List</h5>
        <p class="mb-0 font-size-12 text-muted">
          The direction is great. Octavia Spencer had a show on Apple TV+, but
          Apple canceled it in the spring.
        </p>
      </div>
    </div>
    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-10">
          <div class="row justify-content-between">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Search description"
                [(ngModel)]="searchByDescription"
                (ngModelChange)="getLeaveList()"
              />
            </div>
            <div class="col">
              <select
                class="form-select"
                placeholder="Select Employee"
                [(ngModel)]="filterByName"
                (change)="getLeaveList()"
              >
                <option value="" selected>Select Employee</option>
                <option *ngFor="let emp of empList || []" [value]="emp.id">
                  {{ emp?.name }}
                </option>
              </select>
            </div>
            <div class="col">
              <select
                class="form-select"
                placeholder="Select Leave Type"
                [(ngModel)]="filterByType"
                (change)="getLeaveList()"
              >
                <option value="" selected>Select Leave Type</option>
                <option *ngFor="let type of leaveTypeData" [value]="type?.id">
                  {{ type?.name }}
                </option>
              </select>
            </div>
            <div class="col">
              <select
                class="form-select"
                [(ngModel)]="filterByStatus"
                (change)="getLeaveList()"
              >
                <option value="" selected>Select Status</option>
                <option *ngFor="let item of LeaveStatus" [value]="item.id">
                  {{ item.label }}
                </option>
              </select>
            </div>
            <div class="col">
              <!-- Set a wide range for selectable months and years -->
              <input
                type="month"
                [(ngModel)]="selectedMonthYear"
                (change)="onMonthYearChange($event)"
                [min]="minMonthYear"
                class="form-control"
              />
            </div>
            <div class="col-auto">
              <div class="d-flex justify-content-end">
                <!-- <button class="btn btn-primary" (click)="filter()">Search</button> -->
                <button class="btn btn-light ms-3" (click)="reset()">
                  <i class="bx bx-reset"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pb-0">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-wrap">
            <div *ngIf="searchByDescription" class="filter-box">
              <span
                ><strong>{{ searchByDescription }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('description')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
            <div *ngIf="filterByName" class="filter-box">
              <span
                ><strong>{{ getEmployeeName(filterByName) }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('name')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
            <div *ngIf="filterByType" class="filter-box">
              <span
                ><strong>{{ getTypeLabel(filterByType) }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('type')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
            <div *ngIf="filterByStatus" class="filter-box">
              <span
                ><strong>{{ getStatusLabel(filterByStatus) }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('status')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
            <div *ngIf="selectedMonthYear" class="filter-box">
              <span
                ><strong>{{ selectedMonthYear }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('monthYear')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-bottom pb-0" *ngIf="leavelist?.length > 0">
      <div class="table-responsive">
        <table class="table align-middle nowrap">
          <thead class="table-light">
            <tr>
              <th>Employee</th>
              <th>Designation</th>
              <th>Type</th>
              <th>Description</th>
              <th>Leave Duration</th>
              <th>Days</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of leavelist; index as i">
              <td>
                <div
                  class="d-flex align-items-center mb-4"
                  (click)="goToDetails(item.id)"
                >
                  <div class="profile-container me-3">
                    <div
                      class="rounded-circle border chart-letter"
                      *ngIf="!item?.user?.image"
                    >
                      {{ item?.user?.firstName?.charAt(0) }}
                    </div>
                    <img
                      *ngIf="item?.user?.image"
                      [src]="item?.user?.image"
                      alt="users"
                      width="40"
                      class="rounded-circle border chart-letter"
                    />
                  </div>
                  <div class="m-l-16 p-3">
                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                      {{ item?.user?.firstName || "--" }}
                      {{ item?.user?.lastName || "--" }}
                    </h6>
                    <span class="mat-body-1 f-s-12">
                      {{ item?.user?.username || "--" }}
                    </span>
                  </div>
                </div>
              </td>
              <!-- <td>{{ item.title }}</td> -->
              <td>{{ item?.user?.designation || "--" }}</td>
              <td>{{ item?.typeLabel }}</td>
              <td>
                <div *ngIf="item?.description?.length > 120">
                  {{ item?.description | slice : 0 : 120 }}...
                </div>
                <div *ngIf="item?.description?.length <= 120">
                  {{ item?.description | slice : 0 : 120 }}
                </div>
              </td>
              <td>
                {{ item?.startDate | date : "dd MMMM yyyy" }}-{{
                  item?.endDate | date : "dd MMMM yyyy"
                }}
              </td>
              <td>{{ item?.duration }}</td>
              <td>
                <span *ngFor="let status of LeaveStatus">
                  <span
                    *ngIf="item?.status === status?.id"
                    [class]="status?.className"
                  >
                    {{ status?.label }}
                  </span>
                </span>
              </td>
              <td>
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Approve leave"
                  >
                    <a
                      href="javascript:void(0);"
                      *ngIf="item?.status === 3"
                      (click)="openaprovel(item?.id)"
                      class="btn btn-sm btn-primary d-flex align-items-center p-2"
                      ><i class="bx bx-check-circle"></i
                    ></a>
                  </li>
                  <li
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    color="warn"
                    title="Reject leave"
                  >
                    <a
                      href="javascript:void(0);"
                      *ngIf="item?.status === 3 || item?.status === 1"
                      (click)="goToReject(item?.id)"
                      class="btn btn-sm btn-danger d-flex align-items-center p-2"
                      ><i class="bx bx-x-circle"></i
                    ></a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="row justify-content-between align-items-center mt-3"
        *ngIf="leavelist?.length > 0"
      >
        <div class="col-12 col-md-4">
          <div>
            <span
              >Showing
              <strong>
                {{ offset + 1 }} -
                {{
                  offset + limit < totalRecord ? offset + limit : totalRecord
                }}
              </strong>
              of <strong>{{ totalRecord }}</strong> records</span
            >
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-md-end">
            <nav aria-label="Page navigation" class="d-flex align-items-center">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="offset === 0">
                  <a
                    class="page-link"
                    (click)="previousPage()"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li
                  class="page-item"
                  *ngFor="let pageNumber of getPageNumbers()"
                  [class.active]="pageNumber === currentPage"
                >
                  <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{
                    pageNumber
                  }}</a>
                </li>
                <li
                  class="page-item"
                  [class.disabled]="offset + limit >= totalRecord"
                >
                  <a
                    class="page-link ms-2"
                    (click)="nextPage()"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="leavelist?.length == 0" class="card mt-4 mt-5 py-5">
      <div class="card-body text-center">
        <i class="bx bx-box text-primary h2 mb-4"></i>
        <p class="text-muted">There are no leaves available.</p>
      </div>
    </div>
  </div>
</div>
