<div class="container-fluid">
  <app-page-title title="Company Details" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="brandingForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body border-bottom">
                <div>
                  <h6 class="card-title">Organisation Details</h6>
                  <p class="card-title-desc mb-0">
                    Enter the details for your organisation.
                  </p>
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-12 mt-3">
                    <label for="title" class="col-form-label">Title<span
                        class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" placeholder="Eg. ABC Pvt. Ltd."
                        formControlName="title" minlength="3" maxlength="50">
                      <div
                        *ngIf="brandingForm.get('title').invalid && (brandingForm.get('title').dirty || brandingForm.get('title').touched)"
                        class="text-danger">
                        <div *ngIf="brandingForm.get('title').errors.required">
                          Title is required.
                        </div>
                        <div *ngIf="brandingForm.get('title').errors.minlength">
                          Title must be at least 3 characters.
                        </div>
                        <div *ngIf="brandingForm.get('title').errors.maxlength">
                          Title must be less than 50 characters.
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 mt-3">
                    <label for="copyright" class="col-form-label">Copyright<span
                        class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" placeholder="Eg. ABC Pvt. Ltd."
                        formControlName="copyright" minlength="3" maxlength="50">
                      <div
                        *ngIf="brandingForm.get('copyright').invalid && (brandingForm.get('copyright').dirty || brandingForm.get('copyright').touched)"
                        class="text-danger">
                        <div *ngIf="brandingForm.get('copyright').errors.required">
                          Copyright is required.
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 mt-3">
                    <label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Logo</label>
                    <div class="input-group">
                      <input type="text" class="form-control" [value]="selectedFile?.name || 'Choose a file...'"
                        readonly />
                      <input type="file" class="form-control" (change)="uploadLogo($event)" style="display:none"
                        #fileInput />
                      <button type="button" class="btn btn-outline-primary" (click)="fileInput.click()">Browse</button>
                    </div>
                    <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
                    <div class="upload-image-container" style="margin-top: 20px;">
                      <img *ngIf="image" style="width: 150px; height: 150px;" [src]="image" alt="Uploaded Image"
                        class="uploaded-image">
                      <img *ngIf="!image" src="https://via.placeholder.com/150" alt="Placeholder Image"
                        class="placeholder-image">

                      <div *ngIf="fileError" class="error-message">{{ fileError }}</div>
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    <label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Monogram Logo</label>
                    <div class="input-group">
                      <input type="text" class="form-control" [value]="selectedFile?.name || 'Choose a file...'"
                        readonly />
                      <input type="file" class="form-control" (change)="uploadMonogramLogo($event)" style="display:none"
                        #fileInput1 />
                      <button type="button" class="btn btn-outline-primary" (click)="fileInput1.click()">Browse</button>
                    </div>
                    <div *ngIf="fileErrorMonogram" class="text-danger">{{ fileErrorMonogram }}</div>
                    <div class="upload-image-container" style="margin-top: 20px;">
                      <img *ngIf="monogramLogo" style="width: 150px; height: 150px;" [src]="monogramLogo" alt="Uploaded Image"
                        class="uploaded-image">
                      <img *ngIf="!monogramLogo" src="https://via.placeholder.com/150" alt="Placeholder Image"
                        class="placeholder-image">
                      <div *ngIf="fileErrorMonogram" class="error-message">{{ fileErrorMonogram }}</div>
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary" [disabled]="brandingForm.invalid">
                      Save
                    </button>
                    <button style="margin-left: 15px;" type="button" class="btn btn-secondary"
                      (click)="goBack()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
