<div class="container-fluid">
    <app-page-title title="Support-Type" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-6">
        <form [formGroup]="supportForm" (ngSubmit)="onFormSubmit()">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body border-bottom">
                  <div>
                    <h6 class="card-title">Support Type Form</h6>
                    <!-- <p class="card-title-desc mb-0">
                      Enter the details for the reimbursement request.
                    </p> -->
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 ">
                      <label for="title" class="col-form-label">Title<span class="asterisk">*</span></label>
                      <div>
                        <input type="text" class="form-control" placeholder="Eg .Enter your name " formControlName="title"
                          minlength="5" maxlength="50">
                        <div *ngIf="supportForm.get('title').invalid && (supportForm.get('title').dirty || supportForm.get('title').touched)" class="text-danger">
                          <div *ngIf="supportForm.get('title').errors.required">
                            Title is required.
                          </div>
                          <div *ngIf="supportForm.get('title').errors.minlength">
                            Title must be at least 5 characters.
                          </div>
                          <div *ngIf="supportForm.get('title').errors.maxlength">
                            Title must be less than 50 characters.
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12 mt-3">
                      <label for="description" class="col-form-label">Description<span class="asterisk">*</span></label>
                      <div>
                        <textarea style="height: 200px;" class="form-control" formControlName="description"
                          placeholder="Eg .Technical Support Type" minlength="10" maxlength="200"></textarea>
                        <div *ngIf="supportForm.get('description').invalid && (supportForm.get('description').dirty || supportForm.get('description').touched)" class="text-danger">
                          <div *ngIf="supportForm.get('description').errors.required">
                            Description is required.
                          </div>
                          <div *ngIf="supportForm.get('description').errors.minlength">
                            Description must be at least 10 characters.
                          </div>
                          <div *ngIf="supportForm.get('description').errors.maxlength">
                            Description must be less than 200 characters.
                          </div>
                          <!-- Add the error message for exceeding the max length here -->
                          <div *ngIf="supportForm.get('description').value && supportForm.get('description').errors.maxlength > 200" class="text-danger">
                            Description cannot be more than 200 characters.
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
  
            
  
                    <!-- Submit and Cancel Buttons -->
                    <div class="col-12 d-flex justify-content-start align-items-center gap-2" style="margin-top: 15px;">
                      <button type="button" class="btn btn-dark btn-md" (click)="navigateToList()">
                        <i class="bx bx-x-circle font-size-16 align-middle me-2"></i> Cancel
                      </button>
                      <button type="submit" class="btn btn-primary btn-md"
                        [disabled]="!supportForm.valid">
                        <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Save
                      </button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
