.task-list {
  min-height: 100px;
  /* border: 2px dashed #ccc; */
  padding: 10px;
}
.chart-letter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  /* background-color: #44b7f7; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}
