<div class="container-fluid">
  <app-page-title
    title="My Timesheets"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card banner-left">
        <div class="card-body">
          <h4 class="card-title mb-4">Horizontal Timeline</h4>
          <button class="btn btn-light btn-rounded btn-sm banner-close">
            <i class="bx bx-plus font-size-16"></i>
          </button>
          <div class="hori-timeline">
            <ngx-slick-carousel
              dir="ltr"
              [config]="slideConfig"
              class="events navs-carousel mb-3"
            >
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Create Timesheet</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">
                        The direction is great. Octavia Spencer had a show on
                        Apple TV+, but Apple canceled it in the spring.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem>
                <div class="item event-list">
                  <div>
                    <div class="event-date">
                      <h5 class="mb-2">Create Timesheet</h5>
                    </div>
                    <div class="mt-3 px-3">
                      <p class="text-muted mb-0">
                        The direction is great. Octavia Spencer had a show on
                        Apple TV+, but Apple canceled it in the spring.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div
      class="card-body border-bottom d-flex justify-content-between align-items-center"
    >
      <div>
        <h5 class="mb-2 card-title flex-grow-1">My Timesheets</h5>
        <p class="mb-0 font-size-12 text-muted">
          The direction is great. Octavia Spencer had a show on Apple TV+, but
          Apple canceled it in the spring.
        </p>
      </div>
      <!-- <div class="">
        <button class="btn btn-primary" (click)="applyLeave()">
          Apply Leave
        </button>
      </div> -->
    </div>
    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-8">
          <div class="row justify-content-between">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Search description"
                [(ngModel)]="searchByDescription"
                (ngModelChange)="getTimesheetList()"
              />
            </div>
            <div class="col">
              <select
                class="form-select"
                [(ngModel)]="filterByStatus"
                (change)="getTimesheetList()"
              >
                <option value="" selected>Select Status</option>
                <option *ngFor="let item of TimesheetStatus" [value]="item.id">
                  {{ item.label }}
                </option>
              </select>
            </div>
            <div class="col">
              <!-- Set a wide range for selectable months and years -->
              <input
                type="month"
                [(ngModel)]="selectedMonthYear"
                (change)="onMonthYearChange($event)"
                [min]="minMonthYear"
                class="form-control"
              />
            </div>
            <div class="col-auto">
              <div class="d-flex justify-content-end">
                <!-- <button class="btn btn-primary" (click)="filter()">Search</button> -->
                <button class="btn btn-light ms-3" (click)="reset()">
                  <i class="bx bx-reset"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pb-0">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-wrap">
            <div *ngIf="searchByDescription" class="filter-box">
              <span
                ><strong>{{ searchByDescription }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('description')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
            <div *ngIf="filterByStatus" class="filter-box">
              <span
                ><strong>{{ getStatusLabel(filterByStatus) }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('status')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
            <div *ngIf="selectedMonthYear" class="filter-box">
              <span
                ><strong>{{ selectedMonthYear }}</strong></span
              >
              <button
                type="button"
                (click)="resetFilter('monthYear')"
                class="close-btn"
              >
                &times;
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-bottom pb-0" *ngIf="timesheetList?.length > 0">
      <div class="table-responsive">
        <table class="table align-middle nowrap">
          <thead class="table-light">
            <tr>
              <!-- <th>Title</th> -->
              <th>Date</th>
              <th>Task Description</th>
              <th>Effective Hours</th>
              <th>SCRUM</th>
              <th>Knowledge Transfer / Demo</th>
              <th>Documentations</th>
              <th>Meetings / Discussions</th>
              <th>Development / Designing</th>
              <th>Deployment</th>
              <th>Idle</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of timesheetList; index as i">
              <td>{{ item?.date | date : "dd MMM yyyy" }}</td>
              <td>
                <div href="javascript:void(0);" (click)="openTimesheetDetailsModal(timesheetDetailsModal, item)"
                >
                <div *ngIf="item?.taskDescription?.length > 120">
                  {{ item?.taskDescription | slice : 0 : 120 }}...
                </div>
                <div *ngIf="item?.taskDescription?.length <= 120">
                  {{ item?.taskDescription | slice : 0 : 120 }}
                </div>
                </div>
              </td>
              <td>{{ item?.effectiveHours }}</td>
              <td>{{ item?.scrum }}</td>
              <td>{{ item?.knowledgetransfer }}</td>
              <td>{{ item?.documentations }}</td>
              <td>{{ item?.['meetings/discussions'] }}</td>
              <td>{{ item?.['development/designing'] }}</td>
              <td>{{ item?.deployment }}</td>
              <td>{{ item?.idle }}</td>
              <td>
                <span *ngFor="let status of TimesheetStatus">
                  <span
                    *ngIf="item?.status === status?.id"
                    [class]="status?.className"
                  >
                    {{ status?.label }}
                  </span>
                </span>
              </td>
              <td>
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li
                    href="javascript:void(0);"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="View"
                  >
                    <a
                    (click)="openTimesheetDetailsModal(timesheetDetailsModal, item)"
                      class="btn btn-sm btn-primary d-flex align-items-center p-2"
                      ><i class="bx bx-right-top-arrow-circle"></i
                    ></a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="row justify-content-between align-items-center mt-3"
        *ngIf="timesheetList?.length > 0"
      >
        <div class="col-12 col-md-4">
          <div>
            <span
              >Showing
              <strong>
                {{ offset + 1 }} -
                {{
                  offset + limit < totalRecord ? offset + limit : totalRecord
                }}
              </strong>
              of <strong>{{ totalRecord }}</strong> records</span
            >
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-md-end">
            <nav aria-label="Page navigation" class="d-flex align-items-center">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="offset === 0">
                  <a
                    class="page-link"
                    (click)="previousPage()"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li
                  class="page-item"
                  *ngFor="let pageNumber of getPageNumbers()"
                  [class.active]="pageNumber === currentPage"
                >
                  <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{
                    pageNumber
                  }}</a>
                </li>
                <li
                  class="page-item"
                  [class.disabled]="offset + limit >= totalRecord"
                >
                  <a
                    class="page-link ms-2"
                    (click)="nextPage()"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="timesheetList?.length == 0" class="card mt-5 py-5">
      <div class="card-body text-center">
        <i class="bx bx-box text-primary h2 mb-4"></i>
        <p class="text-muted">There are no Timesheets available.</p>
        <!-- <div class="btn btn-sm btn-primary" (click)="applyLeave()">
          Apply Now
        </div> -->
      </div>
    </div>
  </div>
</div>
<ng-template #timesheetDetailsModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Timesheet Details</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="d-flex">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Employee Name</th>
              <td>{{ timesheetDetails?.employee?.name || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Employee Email</th>
              <td>{{ timesheetDetails?.employee?.email || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Date</th>
              <td>{{ timesheetDetails?.date || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Day</th>
              <td>{{ timesheetDetails?.day || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Month</th>
              <td>{{ timesheetDetails?.month || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Year</th>
              <td>{{ timesheetDetails?.year || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Total Hours</th>
              <td>{{ timesheetDetails?.totalHours || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Scrum</th>
              <td>{{ timesheetDetails?.scrum || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Meetings/Discussion</th>
              <td>{{ timesheetDetails?.['meetings/discussions'] || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Development</th>
              <td>{{ timesheetDetails?.['development/designing'] || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Deployment</th>
              <td>{{ timesheetDetails?.deployment || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Documentation</th>
              <td>{{ timesheetDetails?.documentations || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Knowledge Transfer</th>
              <td>{{ timesheetDetails?.knowledgetransfer || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Idle</th>
              <td>{{ timesheetDetails?.idle || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ timesheetDetails?.taskDescription || "--" }}</td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td> <span *ngFor="let status of TimesheetStatus">
                <span
                  *ngIf="timesheetDetails?.status === status?.id"
                >
                  {{ status?.label }}
                </span>
              </span></td>
            </tr>
            <tr>
              <th scope="row">Effective Hours</th>
              <td>{{ timesheetDetails?.effectiveHours || "--" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>