<div class="container-fluid">
  <app-page-title
    title="Polls Form"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="card mt-4">
    <div class="card-body">
      <form [formGroup]="pollsForm" (ngSubmit)="postPollsData()">
        <div class="row">
          <div class="form-group col-12 col-md-6 mt-3">
            <label for="title" class="form-label"
              >Title<span class="asterisk">*</span></label
            >
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
              placeholder="Eg. Enter title"
            />
            <div
              *ngIf="
                pollsForm.get('title').touched &&
                pollsForm.get('title').hasError('required')
              "
              class="text-danger mt-1"
            >
              Title is required.
            </div>
          </div>

          <div class="form-group col-12 col-md-6 mt-3">
            <label for="description" class="form-label"
              >Description<span class="asterisk">*</span></label
            >
            <textarea
              formControlName="description"
              class="form-control"
              id="description"
              placeholder="Eg. Enter description"
            ></textarea>
            <div
              *ngIf="
                pollsForm.get('description').touched &&
                pollsForm.get('description').hasError('required')
              "
              class="text-danger mt-1"
            >
              Description is required.
            </div>
          </div>

          <div class="form-group col-12 col-md-6 mt-3">
            <label for="startDateTime" class="form-label"
              >Start Date & Time<span class="asterisk">*</span></label
            >
            <input
              type="datetime-local"
              id="startDateTime"
              formControlName="startDateTime"
              class="form-control"
              [attr.min]="today"
              (change)="validateEndDate()"
            />
            <div
              *ngIf="
                pollsForm.get('startDateTime').touched &&
                pollsForm.get('startDateTime').hasError('required')
              "
              class="text-danger mt-1"
            >
              Start Date and Time is required.
            </div>
          </div>

          <div class="form-group col-12 col-md-6 mt-3">
            <label for="endDateTime" class="form-label"
              >End Date & Time<span class="asterisk">*</span></label
            >
            <input
              type="datetime-local"
              id="endDateTime"
              [attr.min]="pollsForm.get('startDateTime')?.value"
              formControlName="endDateTime"
              class="form-control"
              (blur)="validateEndDate()"
              (change)="validateEndDate()"
            />
            <div
              *ngIf="
                pollsForm.get('endDateTime').touched &&
                pollsForm.get('endDateTime').hasError('required')
              "
              class="text-danger mt-1"
            >
              End Date and Time is required.
            </div>
            <div *ngIf="endDateError" class="text-danger mt-1">
              {{ endDateError }}
            </div>
          </div>

          <div class="form-group col-12 col-md-6 mt-3">
            <label class="form-label"
              >Options <span class="asterisk">*</span></label
            >
            <div formArrayName="options">
              <div
                *ngFor="let option of optionsFormArray.controls; let i = index"
                [formGroupName]="i"
                class="d-flex align-items-center"
              >
                <input
                  formControlName="option"
                  id="option{{ i }}"
                  type="text"
                  class="form-control mt-2"
                  [ngClass]="{
                    'is-invalid':
                      option.get('option')?.invalid &&
                      option.get('option')?.touched
                  }"
                />
                <a
                  href="javascript:void(0);"
                  class="text-danger ms-2"
                  (click)="removeOption(i)"
                  [hidden]="optionsFormArray.length <= 2"
                  data-bs-toggle="tooltip"
                  title="Delete"
                >
                  <i class="mdi mdi-delete-outline"></i>
                </a>
                <!-- Individual field error -->
                <div
                  *ngIf="
                    option.get('option')?.invalid &&
                    option.get('option')?.touched
                  "
                  class="text-danger mt-1"
                >
                  Option is required.
                </div>
              </div>
            </div>

            <div class="mt-2">
              <button
                type="button"
                class="btn btn-success"
                (click)="addOption()"
              >
                Add Option
              </button>
            </div>

            <!-- At least two options error -->
            <div
              *ngIf="
                optionsFormArray.errors?.minOptions &&
                pollsForm.get('options')?.touched
              "
              class="text-danger mt-1"
            >
              At least two options are required.
            </div>
          </div>

          <div class="form-group col-12 col-md-6 mt-3">
            <label for="documentUpload" class="form-label d-block">
              Upload Image
            </label>
            <input
              type="file"
              name="image"
              class="form-control-file"
              (change)="uploadLogo($event)"
              placeholder="Upload an image"
            />
            <div *ngIf="fileError" class="error mt-2">
              {{ fileError }}
            </div>
            <div *ngIf="image && !fileError" class="mt-2">
              <img
                [src]="image"
                alt="Attachment Preview"
                class="poll-image-preview"
              />
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="col-12 mt-3">
          <button
            type="button"
            (click)="postCancel()"
            class="btn btn-secondary me-3"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary ml-2"
            (click)="postPollsData()"
            [disabled]="
              pollsForm.invalid ||
              endDateError ||
              fileExtensionError ||
              fileError
            "
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
