.comment-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.edit-btn,
.delete-btn {
  font-size: 14px;
  color: #6c757d;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  color: #007bff;
}

.delete-btn:hover {
  color: #dc3545;
}

.comment-actions a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-actions i {
  font-size: 16px;
}

.heart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Hollow heart (default state when not liked) */
.heart-hollow {
  color: #ccc; /* Light gray color for hollow heart */
}

/* Filled heart (default state when liked) */
.heart-filled {
  color: #ff3d3d; /* Red color for filled heart */
}

/* Hover effect for hollow heart */
.heart-hollow:hover {
  color: #ff6b6b; /* Light red color on hover for hollow heart */
}
.chart-letter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  /* background-color: #44b7f7; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}
