<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Employee Details</h4>
          <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Basic Details</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent">
                </ng-template>
                <div class="card-body">
                  <div class="d-flex">
                    <div class="avatar-sm mx-auto mb-4" *ngIf="!employeeDetails?.basicDetails?.image">
                      <span class="avatar-title rounded-circle bg-soft bg-primary font-size-16">
                        {{employeeDetails?.basicDetails?.firstName.charAt(0)}}
                      </span>
                    </div>
                    <div *ngIf="employeeDetails?.basicDetails?.image" class="mb-4">
                      <img class="rounded-circle avatar-sm" [src]="employeeDetails?.basicDetails?.image" alt />
                    </div>

                    <div class="flex-grow-1 overflow-hidden">
                      <h5 class="text-truncate font-size-15">{{employeeDetails?.basicDetails?.firstName}}
                        {{employeeDetails?.basicDetails?.lastName}}</h5>
                      <p class="text-muted">{{employeeDetails?.basicDetails?.designation.title}}</p>
                    </div>
                  </div>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Employee ID :</span>
                    {{employeeDetails?.basicDetails?.employeeCode}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Department :</span>
                    {{employeeDetails?.basicDetails?.department.departmentName}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Gender :</span>
                    {{employeeDetails?.basicDetails?.gender}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Joining Date :</span>
                    {{employeeDetails?.basicDetails?.dateOfJoining}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Work Location :</span>
                    {{employeeDetails?.basicDetails?.workLocation.workLocationName}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Email :</span>
                    {{employeeDetails?.basicDetails?.email}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Mobile Number :</span>
                    {{employeeDetails?.basicDetails?.mobileNo}}</h5>
                </div>
                <button type="button" class="btn btn-primary" (click)="basicDetailsModal(basicDataModal)">
                  Edit Basic Details
                </button>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                <span class="d-none d-sm-block">Bank Details</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                <div class="card-body">
                  <div class="d-flex">
                    <div class="avatar-sm mx-auto mb-4" *ngIf="!employeeDetails?.basicDetails?.image">
                      <span class="avatar-title rounded-circle bg-soft bg-primary font-size-16">
                        {{employeeDetails?.basicDetails?.firstName.charAt(0)}}
                      </span>
                    </div>
                    <div *ngIf="employeeDetails[0]?.basicDetails?.image" class="mb-4">
                      <img class="rounded-circle avatar-sm" [src]="employeeDetails?.basicDetails?.image" alt />
                    </div>

                    <div class="flex-grow-1 overflow-hidden">
                      <h5 class="text-truncate font-size-15">{{employeeDetails?.basicDetails?.firstName}}
                        {{employeeDetails?.basicDetails?.lastName}}</h5>
                      <p class="text-muted">{{employeeDetails?.basicDetails?.designation.title}}</p>
                    </div>
                  </div>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Account Holder Name :</span>
                    {{employeeDetails?.bankDetails?.accountHolderName}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Account Number :</span>
                    {{employeeDetails?.bankDetails?.accountNumber}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Account Type :</span>
                    {{employeeDetails?.bankDetails?.accountType}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">Bank Name :</span>
                    {{employeeDetails?.bankDetails?.bankName}}</h5>
                  <h5 class="font-size-14 mt-4"><span class="font-size-14 head-color">IFSC Code :</span>
                    {{employeeDetails?.bankDetails?.ifscCode}}</h5>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="customNav"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- basic details form modal -->

<ng-template #basicDataModal role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Basic Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-md-6 mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" name="firstName" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="middleName" class="form-label">Middle Name</label>
        <input type="text" class="form-control" id="middleName" [(ngModel)]="employeeDetails.basicDetails.middleName"
          name="middleName" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="employeeDetails.basicDetails.lastName"
          name="lastName" required>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="isDirector" [disabled]="true" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Employee is a Director / Person with substantial interest in the company
          </label>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="employeeCode" class="form-label">Employee Id</label>
        <input type="text" class="form-control" id="employeeCode"
          [(ngModel)]="employeeDetails.basicDetails.employeeCode" name="employeeCode" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="dateOfJoining" class="form-label">Date Of Joining</label>
        <input type="date" class="form-control" id="dateOfJoining"
          [(ngModel)]="employeeDetails.basicDetails.dateOfJoining" name="dateOfJoining" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="gender" class="form-label">Gender</label>
        <input type="text" class="form-control" id="gender" [(ngModel)]="employeeDetails.basicDetails.gender"
          name="gender" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="employeeType" class="form-label">Employee Type</label>
        <input type="text" class="form-control" id="employeeType"
          [(ngModel)]="employeeDetails.basicDetails.employeeType" name="employeeType" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="employeeDetails.basicDetails.email"
          name="email" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="mobileNo" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNo" [(ngModel)]="employeeDetails.basicDetails.mobileNo"
          name="mobileNo" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="designation" class="form-label">Designation</label>
        <input type="text" class="form-control" id="designation"
          [(ngModel)]="employeeDetails.basicDetails.designation.title" name="designation" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" id="department"
          [(ngModel)]="employeeDetails.basicDetails.department.departmentName" name="department" [disabled]="true"
          required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="manager" class="form-label">Manager</label>
        <input type="text" class="form-control" id="manager"
          [(ngModel)]="employeeDetails.basicDetails.managerAssign.firstName" name="manager" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="shift" class="form-label">Shift</label>
        <input type="text" class="form-control" id="shift" [(ngModel)]="employeeDetails.basicDetails.shift.shiftName"
          name="shift" [disabled]="true" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="workLocation" class="form-label">Work Location</label>
        <input type="text" class="form-control" id="workLocation"
          [(ngModel)]="employeeDetails.basicDetails.workLocation.workLocationName" name="workLocation" [disabled]="true"
          required>
      </div>

      <div class="row m-t-20">
        <div class="col-lg-12">
          <label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Cover Image</label>
          <div class="upload-image-container">
            <input type="file" (change)="uploadLogo($event)" accept="image/*" style="display: none" id="fileInput">
            <label for="fileInput" class="custom-file-upload">
              Choose File
            </label>
            <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
            <img style="width: 200px ;height: 200px;" *ngIf="image" [src]="image" alt="Uploaded Image"
              class="uploaded-image">
            <img *ngIf="!image" src="https://via.placeholder.com/150" alt="Placeholder Image" class="placeholder-image">
            <div *ngIf="fileError" class="error-message">{{ fileError }}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="updateBasicDetails()">Update</button>
      </div>
    </div>
  </div>
</ng-template>
