<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body border-bottom">
                <div>
                  <h6 class="card-title">Shift Details</h6>
                  <p class="card-title-desc mb-0">
                    Enter the details for the shift.
                  </p>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <!-- Shift Name Field -->
                  <div class="col-12 mt-3">
                    <label for="shiftNameInput" class="col-form-label">Shift Name<span class="asterisk">*</span></label>
                    <div>
                      <input type="text" class="form-control" id="shiftNameInput" placeholder="Eg. Morning Shift"
                        formControlName="shiftName" minlength="10" maxlength="50">
                      <div
                        *ngIf="shiftForm.get('shiftName').invalid && (shiftForm.get('shiftName').dirty || shiftForm.get('shiftName').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('shiftName').errors.required">
                          Shift Name is required.
                        </div>
                        <div *ngIf="shiftForm.get('shiftName').errors.minlength">
                          Shift Name must be at least 10 characters.
                        </div>
                        <div *ngIf="shiftForm.get('shiftName').errors.maxlength">
                          Shift Name must be less than 50 characters.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- From Time Field -->
                  <div class="col-6 mt-3">
                    <label for="fromTimeInput" class="col-form-label">From Time<span class="asterisk">*</span></label>
                    <div>
                      <input type="time" class="form-control" id="fromTimeInput" formControlName="fromTime">
                      <div
                        *ngIf="shiftForm.get('fromTime').invalid && (shiftForm.get('fromTime').dirty || shiftForm.get('fromTime').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('fromTime').errors.required">
                          From Time is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- To Time Field -->
                  <div class="col-6 mt-3">
                    <label for="toTimeInput" class="col-form-label">To Time<span class="asterisk">*</span></label>
                    <div>
                      <input type="time" class="form-control" id="toTimeInput" formControlName="toTime">
                      <div
                        *ngIf="shiftForm.get('toTime').invalid && (shiftForm.get('toTime').dirty || shiftForm.get('toTime').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('toTime').errors.required">
                          To Time is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Shift Margin Section -->
                  <div class="col-12 mt-4">
                    <h6>Shift Margin</h6>
                    <p>Define boundaries within which payable hours will be calculated. Only check-ins/check-outs
                      between 9:00 AM - 6:00 PM will be considered as payable hours.</p>

                    <!-- Enable Shift Margin Checkbox -->
                    <div class="form-check mt-2">
                      <input type="checkbox" class="form-check-input" id="enableShiftMargin"
                        formControlName="enableShiftMargin">
                      <label class="form-check-label" for="enableShiftMargin">Enable Shift Margin</label>
                    </div>
                  </div>

                  <!-- Hours Before Shift Starts -->
                  <div class="col-6 mt-3" *ngIf="shiftForm.get('enableShiftMargin').value">
                    <label for="hoursBeforeInput" class="col-form-label">Hours Before Shift Starts (HH:mm)</label>
                    <div>
                      <input type="number" class="form-control" id="hoursBeforeInput"
                        formControlName="hoursBeforeShift">
                      <div
                        *ngIf="shiftForm.get('hoursBeforeShift').invalid && (shiftForm.get('hoursBeforeShift').dirty || shiftForm.get('hoursBeforeShift').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('hoursBeforeShift').errors?.required">
                          Hours Before Shift Start is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Hours After Shift Ends -->
                  <div class="col-6 mt-3" *ngIf="shiftForm.get('enableShiftMargin').value">
                    <label for="hoursAfterInput" class="col-form-label">Hours After Shift Ends (HH:mm)</label>
                    <div>
                      <input type="number" class="form-control" id="hoursAfterInput" formControlName="hoursAfterShift">
                      <div
                        *ngIf="shiftForm.get('hoursAfterShift').invalid && (shiftForm.get('hoursAfterShift').dirty || shiftForm.get('hoursAfterShift').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('hoursAfterShift').errors?.required">
                          Hours After Shift End is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Department Select -->
                  <div class="col-6 mt-3">
                    <label for="departmentInput" class="col-form-label">Department<span
                        class="asterisk">*</span></label>
                    <div>
                      <select class="form-control" id="departmentInput" formControlName="departments">
                        <option value="" selected>Select Department</option>
                        <option value="HR">HR</option>
                        <option value="Developer">Developer</option>
                      </select>
                      <div
                        *ngIf="shiftForm.get('departments').invalid && (shiftForm.get('departments').dirty || shiftForm.get('departments').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('departments').errors.required">
                          Department is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Rate per Day -->
                  <div class="col-6 mt-3">
                    <label for="ratePerDayInput" class="col-form-label">Rate per Day</label>
                    <div>
                      <input type="number" class="form-control" id="ratePerDayInput" formControlName="ratePerDay"
                        placeholder="Eg. 1500">
                      <div
                        *ngIf="shiftForm.get('ratePerDay').invalid && (shiftForm.get('ratePerDay').dirty || shiftForm.get('ratePerDay').touched)"
                        class="text-danger">
                        <div *ngIf="shiftForm.get('ratePerDay').errors?.required">
                          Rate per Day is required.
                        </div>
                        <div *ngIf="shiftForm.get('ratePerDay').errors?.min">
                          Rate per Day must be a positive number.
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Submit and Cancel Buttons -->
                  <div class="col-12 d-flex justify-content-start align-items-center gap-2" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-primary btn-md" [disabled]="!shiftForm.valid">
                      <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Save
                    </button>
                    <button type="button" class="btn btn-dark btn-md" (click)="navigateToList()">
                      <i class="bx bx-x-circle font-size-16 align-middle me-2"></i> Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>