
.chart-letter{
  background-color: #007bff; /* Default color for placeholder (blue) */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: #ffffff; /* White text */
  display: flex;

}

.teammate-card {
  width: auto;
  max-width: 200px; /* You can adjust this if you need more space */
  margin-right: 10px;
  margin-bottom: 15px;
}

.leave-dates {
  margin-top: 10px; /* Adding spacing between the name and the dates */
}

.leave-dates p {
  margin: 5px 0; /* Control spacing between the start and end date */
}
