<div class="container-fluid">
  <app-page-title title="Employees" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="card">
    <div class="card-body border-bottom d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-2 card-title flex-grow-1">Employee List</h5>
        <p class="mb-0 font-size-12 text-muted">
          The direction is great. Octavia Spencer had a show on Apple TV+, but Apple canceled it in the spring.
        </p>
      </div>
    </div>

    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-8">
          <div class="row justify-content-between">
            <!-- Search Employee -->
            <div class="col">
              <label class="col-form-label">Search Employee</label>
              <input type="text" class="form-control" id="searchInput" [(ngModel)]="filterBy"
                (ngModelChange)="filter()" placeholder="Eg. William Anderson" />
            </div>

            <!-- Designation -->
            <div class="col">
              <label class="col-form-label">Designation</label>
              <ng-select [items]="designationList" bindLabel="name" [(ngModel)]="filterByDesignation"
                (change)="filter()" placeholder="Select Designation" [clearable]="false">
                <ng-template ng-label-tmp let-item="item">
                  {{ 'Select' }}
                </ng-template>
              </ng-select>
            </div>

            <!-- Department -->
            <div class="col">
              <label class="col-form-label">Department</label>
              <ng-select [items]="departmentList" bindLabel="name" [(ngModel)]="filterByDepartment"
                (change)="filter()" placeholder="Select Department" [clearable]="false">
                <ng-template ng-label-tmp let-item="item">
                  {{ 'Select' }}
                </ng-template>
              </ng-select>
            </div>

            <!-- Employee Type -->
            <div class="col">
              <label class="col-form-label">Employee Type</label>
              <ng-select [items]="employeeTypeList" bindLabel="name" [(ngModel)]="filterByEmployeeType"
                (change)="filter()" placeholder="Select Employee Type" [clearable]="false">
                <ng-template ng-label-tmp let-item="item">
                  {{ 'Select' }}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body pb-0">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-wrap" *ngIf="appliedFilters.length > 0">
            <div class="filter-box" *ngIf="filterBy">
              <span><strong>{{ filterBy }}</strong></span>
              <button type="button" (click)="resetFilter('search')" class="close-btn">
                &times;
              </button>
            </div>

            <div class="filter-box" *ngIf="filterByDesignation">
              <span><strong>{{ filterByDesignation }}</strong></span>
              <button type="button" (click)="resetFilter('designation')" class="close-btn">
                &times;
              </button>
            </div>

            <div class="filter-box" *ngIf="filterByDepartment">
              <span><strong>{{ filterByDepartment }}</strong></span>
              <button type="button" (click)="resetFilter('department')" class="close-btn">
                &times;
              </button>
            </div>

            <div class="filter-box" *ngIf="filterByEmployeeType">
              <span><strong>{{ filterByEmployeeType }}</strong></span>
              <button type="button" (click)="resetFilter('employeeType')" class="close-btn">
                &times;
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="spinnerv2 mt-5 pt-5" *ngIf="employees?.length == 0">
      <span class="loader"></span>
    </div>

    <div class="card-body border-bottom pb-0" *ngIf="employees?.length > 0">
      <div class="table-responsive">
        <table class="table  align-middle nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Employee Department</th>
              <th scope="col">Email</th>
              <th scope="col">Employee Type</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees; index as i">
              <td>{{ item?.oldData?.employeeCode || '--' }}</td>
              <td>
                <div style="display: flex; justify-content: left; align-items: center;">
                  <div>
                    <div class="avatar-xs" style="width: 35px; height: 35px;" *ngIf="!item?.oldData?.image">
                      <span class="avatar-title rounded-circle">
                        {{item?.oldData?.firstName.charAt(0)}}
                      </span>
                    </div>
                    <div *ngIf="item?.oldData?.image">
                      <img class="rounded-circle avatar-xs" src="{{item?.oldData?.image}}" alt="">
                    </div>
                  </div>
                  <div style="margin: 15px;">
                    <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{
                    item?.oldData?.firstName || '--' }} {{ item?.oldData?.lastName || '--' }}</a>
                    </h5>
                    <p class="text-muted mb-0">{{item?.oldData?.designation.title || '--'}}</p>
                  </div>
                </div>
              </td>
              <td>{{ item?.oldData?.department.departmentName || '--' }}</td>
              <td>{{ item?.oldData?.email || '--' }}</td>
              <td>{{ item?.oldData?.employeeType || '--' }}</td>
              <td>{{ item?.oldData?.mobileNo || '--' }}</td>
              <td><span class="badge"
                  [ngClass]="{ 'bg-success': item.status === 'approved', 'bg-info': item.status === 'pending', 'bg-danger': item.status === 'rejected'}">{{item.status}}</span>
              </td>
              <td>
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                    <a (click)="openApproveRejectModal(item, approveRejectModal)"
                      [disabled]="item?.status !== 'pending'" [ngClass]="{'disabled': item?.status !== 'pending'}"
                      class="btn btn-sm btn-primary d-flex align-items-center p-2"
                      [attr.tabindex]="item?.status !== 'pending' ? -1 : null">
                      <i class="bx bx-right-top-arrow-circle"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-between align-items-center mt-3">
        <div class="col-12 col-md-4">
          <div>
            <span>Showing <strong> {{ offset + 1 }} - {{ (offset + limit) < totalRecords ? (offset + limit) :
                  totalRecords }} </strong> of <strong>{{ totalRecords }}</strong> records</span>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-md-end">
            <nav aria-label="Page navigation" class="d-flex align-items-center">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="offset === 0">
                  <a class="page-link" (click)="previousPage()" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()"
                  [class.active]="pageNumber === currentPage">
                  <a class="page-link ms-2" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item" [class.disabled]="offset + limit >= totalRecord">
                  <a class="page-link ms-2" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="employees?.length == 0" class="card mt-5 py-5">
      <div class="card-body text-center">
        <i class="bx bx-box text-primary h2 mb-4"></i>
        <p class="text-muted">
          There are no employees available.
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #approveRejectModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Approve Reject Modal</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body border-bottom pb-0">
          <div class="table-responsive">
            <table class="table align-middle nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col">Sr No.</th>
                  <th scope="col">Label</th>
                  <th scope="col">Old Data</th>
                  <th scope="col">New Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Employee Name</td>
                  <td>{{ selectedEmployee.oldData.firstName }} {{ selectedEmployee.oldData.lastName }}</td>
                  <td>{{ selectedEmployee.temporaryObj.firstName }} {{ selectedEmployee.temporaryObj.lastName }}</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Mobile Number</td>
                  <td>{{ selectedEmployee.oldData.mobileNo }}</td>
                  <td>{{ selectedEmployee.temporaryObj.mobileNo }}</td>
                </tr>
              </tbody>
            </table>
            <div style="margin-bottom: 20px;">
              <button class="btn btn-success" (click)="updateStatus(selectedEmployee, 'approved')">Approve</button>
              <button style="margin-left: 15px;" class="btn btn-danger"
                (click)="updateTempStatus('rejected')">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
