<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body border-bottom">
                  <div>
                    <h6 class="card-title">Attendance Request</h6>
                    <p class="card-title-desc mb-0">
                      Enter the details for the request.
                    </p>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                  
  
                    <!-- From Time Field -->
                    <div class="col-6 mt-3">
                      <label for="dateInput" class="col-form-label">Date<span class="asterisk">*</span></label>
                      <div>
                        <input type="date" class="form-control" id="dateInput" formControlName="date">
                        <div
                          *ngIf="requestForm.get('date').invalid && (requestForm.get('date').dirty || requestForm.get('date').touched)"
                          class="text-danger">
                          <div *ngIf="requestForm.get('date').errors.required">
                            Date is required.
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <!-- To Time Field -->
                    <div class="col-6 mt-3">
                      <label for="toTimeInput" class="col-form-label">Time<span class="asterisk">*</span></label>
                      <div>
                        <input type="time" class="form-control" id="toTimeInput" formControlName="time">
                        <div
                          *ngIf="requestForm.get('time').invalid && (requestForm.get('time').dirty || requestForm.get('time').touched)"
                          class="text-danger">
                          <div *ngIf="requestForm.get('time').errors.required">
                          Time is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Rate per Day -->
                    <div class="col-12 mt-3">
                      <label for="ratePerDayInput" class="col-form-label">Action</label>
                      <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="action" formControlName="action" value="CheckIn" id="inlineRadio1">
                            <label class="form-check-label" for="checkIn">CheckIn</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="action" formControlName="action" value="CheckOut" id="inlineRadio2">
                            <label class="form-check-label" for="checkOut">CheckOut</label>
                          </div>
                      </div>
                    </div>
                    <!-- Submit and Cancel Buttons -->
                    <div class="col-12 d-flex justify-content-start align-items-center gap-2" style="margin-top: 15px;">
                      <button type="submit" class="btn btn-primary btn-md" [disabled]="!requestForm.valid">
                        <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Save
                      </button>
                      <button type="button" class="btn btn-dark btn-md" (click)="navigateToList()">
                        <i class="bx bx-x-circle font-size-16 align-middle me-2"></i> Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>